﻿@model TetsujinTimes.Net.Models.DataModels.TimeTable

@{
    ViewBag.Title = "詳細";
}

<h2>@Html.Name("詳細")</h2>

<div>
    <h4>TimeTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lesson.LessonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lesson.LessonName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassNum)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("編集", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("一覧に戻る", "Index")
</p>
