﻿@model IEnumerable<TetsujinTimes.Net.Models.DataModels.TimeTable>

@{
    Layout = null;
}

<h2>時間割</h2>

<div ng-controller="TimeTablesController">
    <table class="table">
        <tr>
            <th class="col-md-1">

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lesson.LessonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassNum)
            </th>
        </tr>
        <tr ng-model="item">
            <td>
                <input type="button" class="btn btn-default" ng-click="deleteAll()" value="選択項目を削除" />
            </td>
            <td>
                <select class="form-control"
                        ng-model="item.lessonId"
                        ng-options="lesson.id as lesson.lessonName for lesson in lessons"></select>
            </td>
            <td>
                <select class="form-control"
                        ng-model="item.departmentId"
                        ng-options="department.id as department.departmentName for department in departments"></select>
            </td>
            <td>
                <form ng-submit="create(item)">
                    <input type="number" class="form-control" ng-model="item.grade" />
                </form>
            </td>
            <td>
                <form ng-submit="create(item)">
                    <input type="number" class="form-control" ng-model="item.classNum" />
                </form>
            </td>
            <td>
                <input type="button" class="btn btn-default" ng-click="create(item)" value="追加" />
            </td>
        </tr>
        <tr ng-repeat="item in items">
            <td>
                <input type="checkbox" class="checkbox" ng-model="item.checked" />
            </td>
            <td>
                <select class="form-control no-border"
                        ng-model="item.lessonId"
                        ng-options="lesson.id as lesson.lessonName for lesson in lessons"></select>
            </td>
            <td>
                <select class="form-control no-border"
                        ng-model="item.departmentId"
                        ng-options="department.id as department.departmentName for department in departments"></select>
            </td>
            <td>
                <form ng-submit="update(item)">
                    <input type="number" class="form-control no-border" ng-model="item.grade" />
                </form>
            </td>
            <td>
                <form ng-submit="update(item)">
                    <input type="number" class="form-control no-border" ng-model="item.classNum" />
                </form>
            </td>
            <td>
                <input type="button" class="btn btn-default" ng-click="update(item)" value="変更" />
                <input type="button" class="btn btn-default" ng-click="delete(item)" value="削除" />
            </td>
        </tr>
    </table>
</div>
