﻿html, body {
	margin: 0;
}

body {
	padding-top: 90px;
	padding-bottom: 60px;
}

/* Tetsujin Style */

.main-header, .main-footer {
	background-color: #55A;
	background: linear-gradient(90deg, #55A, #99B);
	color: white;
}

.main-header {
	height: 60px;
}

.main-footer {
	height: 40px;
	display: flex;
	align-items: center;
	padding: 5px 10px;
}

.main-header .navbar-brand {
	color: white;
	font-size: 2.0rem;
	display: flex;
	align-items: center;
}

	.main-header .navbar-brand img {
		margin: 2px 4px;
	}

.main-header .navbar-collapse {
}

.main-header .navbar-nav {
	width: 100%;
	height: 100%;
	/*background: inherit;*/
	/* 縦方向中央揃え */
	display: flex;
	align-items: flex-end;
	padding-bottom: 0;
	border-bottom: 1px solid white;
}

.main-header .nav-item {
	/*height: 100%;*/
	margin-bottom: 0;
	padding-bottom: 0;
}

	.main-header .nav-item .nav-link {
		font-size: 1.0rem;
		color: white;
		min-width: 85px;
		/*height: 100%;*/
		/* 縦方向中央揃え */
		display: flex;
		justify-content: center;
		align-items: flex-end;
		/*margin: 0px 4px;*/
		/*padding: inherit 16px;*/
		border-radius: 0 15px 0 0;
		border-color: transparent;
		border-width: 2px;
		border-style: solid;
		border-bottom-width: 0;
	}

		.main-header .nav-item .nav-link:hover,
		.main-header .nav-item .nav-link:focus {
			background-color: #66F;
			border-color: white;
		}

	.main-header .nav-item.active .nav-link {
		color: #449;
		background-color: #FFF;
		border-color: transparent;
	}

/*a {
	color: gray;
}

	a:hover {
		color: silver;
	}

.btn-default,
.btn-secondary {
	color: #555;
	border-color: #555;
	background-color: white;
}

.btn-primary {
	color: white;
	border-color: #555;
	background-color: #333;
}

	.btn-primary:disabled {
		background-color: #444;
	}

	.btn-primary:hover {
		background-color: #444;
	}

	.btn-primary:not(:disabled):not(.disabled):active {
		background-color: #666;
	}*/


/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 5px;
	padding-right: 5px;
	height: 100%;
}

.view {
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

	input.form-control:placeholder-shown {
		color: silver;
	}

	input.form-control::-webkit-input-placeholder {
		color: silver;
	}

	input.form-control::-moz-placeholder {
		color: silver;
	}

	input.form-control:placeholder-shown {
		color: #495057;
	}

	input.form-control.no-border::-webkit-input-placeholder {
		color: #495057;
	}

	input.form-control.no-border::-moz-placeholder {
		color: #495057;
	}

/* scrollable */

.pre-scrollable {
	overflow: hidden;
	max-height: none;
}

textarea {
	/* フォーカスと同時に日本語入力をONにする */
	ime-mode: active;
}

.no-border {
	border: none;
	background-color: transparent;
}

/*.footer {
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	height: 40px;
}

	.footer p {
		text-align: right;
	}

	.footer small {
		display: inline-block;
		position: absolute;
		right: 15px;
		bottom: 10px;
	}*/

ul.ul-header {
	margin-bottom: 0;
}

hr.hr-compact {
	margin: 2px 0;
}

/*.modal-dialog.modal-dialog-form {
	max-width:800px;
}*/

/* scroll bars */
.edit-header {
	margin-right: 15px;
	/*border: 1px solid blue;*/
}

/*.edit-header::-webkit-scrollbar {
	display: block;
	width: 12px;
}*/

.edit-body {
}

.edit-table {
	/*-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	overflow: auto;*/
}

	.edit-table form {
		position: relative;
	}

	.edit-table::-webkit-scrollbar {
		display: block;
		width: 15px;
		height: 15px;
	}

	.edit-table::-webkit-scrollbar-thumb {
		display: block;
		border-radius: 12px;
		border: 1px solid #AAA;
		background-color: #EEE;
	}

/* end of scroll bars */

.form-control-plaintext {
	padding: 6px 12px;
}

/*div {
	border: 1px solid black;
}*/

.edit-item {
	border-bottom: 1px solid silver;
}

.search-item {
	margin: 0;
	padding: 0;
}

	.edit-item .form-group, .search-item .form-group {
		margin: 2pt;
		padding: 2pt 5pt;
	}

.edit-item .item_mark {
	text-align: center;
}

/* 色 */
.edit-item.item-created {
	border-bottom-color: #0094ff;
}

	.edit-item.item-created .item_mark {
		color: #0094ff;
	}

.edit-item.item-modified {
	border-bottom-color: #ff6a00;
}

	.edit-item.item-modified .item_mark {
		color: #ff6a00;
	}

.edit-item.item-updated {
	border-bottom-color: #4cff00;
}

	.edit-item.item-updated .item_mark {
		color: #4cff00;
	}


/* drag and drop */

input.ng-invalid, input.ng-invalid:focus {
	background-color: #FEE;
}

.ng-dragover {
	background-color: aquamarine;
}

/* modal */

#modal-error {
	z-index: 1100;
}

/* indicator */

.indicator {
	display: none;
}

	.indicator.show {
		display: block;
	}

.indicator-content {
	z-index: 2051;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-color: white;
	width: 200px;
	height: 120px;
	border-radius: 15px;
	display: table;
}

.indicator-title {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

div.container {
	position: relative;
}

.indicator-backdrop {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.5;
	z-index: 2040;
	/*width:100%;
	height:100%;*/
	background-color: #000;
}


.update-menu {
	max-width: 95%;
	padding: 15px 20px;
	margin-bottom: 20px;
	border: 1px solid silver;
	border-top-style: none;
}

/* animation */
.animated {
}

	.animated.ng-enter,
	.animated.ng-leave,
	.animated.ng-move {
		-webkit-transition: all 0.15s linear;
		transition: all 0.15s linear;
	}

	.animated.ng-enter {
		opacity: 0;
		height: auto;
	}

		.animated.ng-enter.ng-enter-active {
			opacity: 1;
			height: auto;
		}

	.animated.ng-leave {
		opacity: 1;
		height: 40px;
	}

		.animated.ng-leave.ng-leave-active {
			opacity: 0;
			height: 0;
		}

.item-updated.animated {
	transition: all none;
}

.menu-animated {
}

	.menu-animated.ng-enter,
	.menu-animated.ng-leave,
	.menu-animated.ng-move {
		-webkit-transition: all 0.15s linear;
		transition: all 0.15s linear;
	}

	.menu-animated.ng-enter {
		opacity: 0;
		height: 0px;
	}

		.menu-animated.ng-enter.ng-enter-active {
			opacity: 1;
			height: 100%;
		}

	.menu-animated.ng-leave {
		opacity: 1;
		height: 100%;
	}

		.menu-animated.ng-leave.ng-leave-active {
			opacity: 0;
			height: 0;
		}

/*.animated.ng-move {
		position: relative;
		top: 40px;
	}

		.animated.ng-move.ng-move-active {
			position: relative;
			top: 0;
		}*/

.page-animated {
}

	.page-animated.ng-enter {
		-webkit-transition: opacity 0.15s linear;
		transition: opacity 0.15s linear;
		opacity: 0;
	}

		.page-animated.ng-enter.ng-enter-active {
			opacity: 1;
		}



.main-header.ng-enter, .main-footer.animated.ng-enter {
	-webkit-transition: all 0.15s ease-in;
	transition: all 0.15s ease-in;

	opacity: 0;
	max-height: 0;
}

	.main-header.ng-enter.ng-enter-active,
	.main-footer.ng-enter.ng-enter-active {
		opacity: 1;
		max-height: 100px;
	}
