﻿@model TetsujinTimes.Net.Models.DataModels.Lesson

<dl class="dl-horizontal">

    <dt>
        @Html.DisplayNameFor(model => model.LessonCode)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.LessonCode)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.LessonName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.LessonName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ClassRoom.ClassRoomName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ClassRoom.ClassRoomName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.WeekDay)
    </dt>

    <dd>
        @Html.EnumDisplayFor(model => model.WeekDay)曜日
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.StartPeriodNumber)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.StartPeriodNumber)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.EndPeriodNumber)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.EndPeriodNumber)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.TeacherName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.TeacherName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Description)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Description)
    </dd>

</dl>
