﻿@model TetsujinTimes.Net.Models.DataModels.Lesson

@{
    ViewBag.Title = "詳細";
}

<h2>@Html.Name("詳細")</h2>

<div>
    <h4>Lesson</h4>
    <hr />

    @Html.Partial("_DetailsPartial")

</div>
<p>
    @Html.ActionLink("編集", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("一覧に戻る", "Index")
</p>
