﻿@model IEnumerable<TetsujinTimes.Net.Models.DataModels.Lesson>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("新規作成", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LessonCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LessonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassRoomName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WeekDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartPeriodNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndPeriodNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LessonCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LessonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassRoomName)
        </td>
        <td>
            @Html.EnumDisplayFor(modelItem => item.WeekDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartPeriodNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndPeriodNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("編集", "Edit", new { id = item.Id }) |
            @Html.ActionLink("詳細", "Details", new { id = item.Id }) |
            @Html.ActionLink("削除", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
