﻿@model IEnumerable<TetsujinTimes.Net.Models.DataModels.AttendLesson>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("新規作成", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Lesson.LessonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Lesson.LessonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.Name)
        </td>
        <td>
            @Html.ActionLink("編集", "Edit", new { id=item.Id }) |
            @Html.ActionLink("詳細", "Details", new { id=item.Id }) |
            @Html.ActionLink("削除", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
