﻿<!DOCTYPE html>
<html ng-app="App">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/app")

    @RenderSection("scripts", required: false)
</head>
<body>
    @*
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("TetsujinTimes.NET", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("教師", "Index", "Teachers", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("生徒", "Index", "Students", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("学科", "Index", "Departments", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("教室", "Index", "Classrooms", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("時限", "Index", "Periods", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("授業", "Index", "Lessons", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("時間割", "Index", "TimeTables", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("履修", "Index", "AttendLessons", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("メモ", "Index", "Memos", new { area = "" }, null)</li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
    *@
    <div class="container body-content">
        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - チームTetsujin</p>
        </footer>
    </div>
</body>
</html>
