﻿@model TetsujinTimes.Net.Models.DataModels.ClassRoom

@{
    ViewBag.Title = "詳細";
}

<h2>@Html.Name("詳細")</h2>

<div>
    <h4>ClassRoom</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClassRoomName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassRoomName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("編集", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("一覧に戻る", "Index")
</p>
