﻿@model TetsujinTimes.Net.Models.DataModels.Memo

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.LessonName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.LessonName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.StudentName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.StudentName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.MemoAt)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.MemoAt)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Content)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Content)
    </dd>

</dl>
