﻿@model IEnumerable<TetsujinTimes.Net.Models.DataModels.AttendLesson>

<h2>履修</h2>

<div>
    <form name="uploadForm" ng-submit="store.attendLessons.upload(uploadForm)">
        <input type="file" name="file" ng-model="file" />
        <input type="submit" value="送信" />
    </form>
</div>

<div>
    <form action="api/attendlessons">
        <input type="hidden" name="xlsx" />
        <button type="submit">ダウンロード</button>
    </form>
</div>

<div ng-init="items=store.attendLessons.query();lessons=store.lessons.query();students=store.students.query()">
    <table class="table" ng-show="items">
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.LessonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                &nbsp;
            </th>
        </tr>

        <tr ng-model="item">
            <td>
            </td>
            <td>
                <select class="form-control"
                        ng-model="item.lessonId"
                        ng-options="lesson.id as lesson.lessonName for lesson in lessons"></select>
            </td>
            <td>
                <select class="form-control"
                        ng-model="item.studentId"
                        ng-options="student.id as  (student.studentId + ' ' + student.name) for student in students"></select>
            </td>
            <td>
                <input type="button" class="btn btn-default" ng-click="store.attendLessons.create(item)" value="追加" />
            </td>
        </tr>

        <tr ng-repeat="item in items" ng-show="item">
            <td>
            </td>
            <td>
                <select class="form-control no-border"
                        ng-model="item.lessonId"
                        ng-options="lesson.id as lesson.lessonName for lesson in lessons"></select>
            </td>
            <td>
                <select class="form-control no-border"
                        ng-model="item.studentId"
                        ng-options="student.id as  student.studentId + ' ' + student.name for student in students"></select>
            </td>
            <td>
                <input type="button" class="btn btn-default" ng-click="store.attendLessons.update(item)" value="変更" />
                <input type="button" class="btn btn-default" ng-click="store.attendLessons.delete(item)" value="削除" />
            </td>
        </tr>
    </table>
</div>