﻿@model IEnumerable<TetsujinTimes.Net.Models.DataModels.Attendance>

@{
    Layout = null;
}

<h2>Attendances</h2>

<div>
    <form name="uploadForm" ng-submit="store.attendances.upload(uploadForm)">
        <input type="file" name="file" ng-model="file" />
        <input type="submit" value="送信" />
    </form>
</div>

<div>
    <form action="api/attendances">
        <input type="hidden" name="xlsx" />
        <button type="submit">ダウンロード</button>
    </form>
</div>
