﻿@model IEnumerable<TetsujinTimes.Net.Models.DataModels.Classroom>

@{
    var classroomName = Html.DisplayNameFor(model => model.ClassroomName);
}

<!-- エラーメッセージを定義 -->
<script type="text/ng-template" id="error-messages-classrooms-classroomName">
    <span ng-message="required">
        @classroomName は必須です。
    </span>
</script>

<!-- 新規作成ダイアログを表示 -->
<div class="modal" id="modal-create">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">新規作成</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="createForm" ng-model="item" ng-submit="store.classrooms.create(item, $event, this)">
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-form-label col-md-3">@classroomName</label>
                        <div class="col-md-4">
                            <input name="classroomName" id="modal-create_first" maxlength="100"
                                   type="text" class="form-control" required
                                   ng-model="item.classroomName" placeholder="00000" />
                        </div>
                        <div class="col-form-label col-md text-danger">
                            <div ng-messages="createForm.classroomName.$error">
                                <span ng-messages-include="error-messages-classrooms-classroomName"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <span class="col-form-label col-md text-danger">
                            {{createErrorMessage}}
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" ng-disabled="createForm.$invalid">
                        追加
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <h2 class="col">
        教室
    </h2>
    <div class="float-right">
        <div class="form-group">
            <input type="button" class="btn btn-primary"
                   ng-click="store.showCreateModal()"
                   value="新規作成">
        </div>
    </div>
    <form action="api/classrooms" class="float-right">
        <div class="form-group">
            <input type="hidden" name="xlsx" />
            <button type="submit" class="btn btn-default">ダウンロード</button>
        </div>
    </form>
    <div class=""></div>
</div>

<div ng-init="items=store.classrooms.query(null, $event, this)"
     ng-dragover="store.classrooms.dragover($event, $scope)"
     ng-drop="store.classrooms.drop($event, $scope)">
    <div class="edit-header">
        <div class="container">
            <ul class="list-unstyled ul-header">

                <!-- 検索フォーム -->
                <li class="edit-item">
                    <form class="form-row" ng-model="parameter"
                          ng-submit="items=store.classrooms.query(parameter, $event, this)">
                        <div class="form-group col-sm-1">
                            <div class="">
                                <input type="submit" class="btn btn-primary" value="検索" />
                            </div>
                        </div>
                        <div class="form-group col-sm-2">
                            <div class="">
                                <input type="text" class="form-control no-border"
                                       maxlength="100"
                                       placeholder="@classroomName" ng-model="parameter.classroomName" />
                            </div>
                        </div>
                        <div class="form-group col-sm">
                            @*<input type="button" class="btn btn-default" value="リセット" />*@
                        </div>
                    </form>
                </li>
            </ul>
            <hr class="hr-compact" />
        </div>
    </div>
    <div class="container pre-scrollable edit-table">
        <div>
            <!-- データが読み込まれていない場合/0件の場合のメッセージ -->
            <div ng-hide="items">読み込み中…</div>
            <div ng-show="items && items.length == 0">データが存在しません</div>
        </div>
        <ul ng-show="items" class="list-unstyled">
            <li ng-repeat="item in items | orderBy: 'classroomName'" class="edit-item animated"
                ng-class="{
                    'item-created': item.$$created && updateForm.$pristine,
                    'item-modified': updateForm.$dirty,
                    'item-updated': updateForm.$pristine && item.$$updated,
                }">
                <!-- 編集フォーム -->
                <form class="form-row no-border"
                      id="{{'item_' + $index}}"
                      ng-init="item.$$index=$index"
                      ng-submit="store.classrooms.update(item, $event, this)" name="updateForm">
                    <div class="form-group col-sm-1">
                        <span class="form-control-plaintext item_mark">
                            <span ng-show="item.$$created && updateForm.$pristine">NEW!</span>
                            <span ng-show="updateForm.$dirty && !item.$$updating">！</span>
                            <span ng-show="updateForm.$dirty && item.$$updating">…</span>
                            <span ng-show="updateForm.$pristine && item.$$updated">&#10003;</span>
                        </span>
                    </div>
                    <div class="form-group col-sm-2">
                        <div class="">
                            <span class="form-control-plaintext" ng-bind="item.classroomName"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm row">
                        @*<input type="submit" class="btn btn-primary" value="変更" ng-disabled="updateForm.$invalid || item.$$updating" />*@
                        <input type="button" class="btn btn-default" ng-click="store.classrooms.delete(item, $event, this)" value="削除" />
                        <div class="col-form-label col-md text-danger" ng-show="updateForm.$error">
                        </div>
                    </div>
                </form>
            </li>
        </ul>
        <div style="height:200pt;"></div>
    </div>
</div>