﻿@model IEnumerable<TetsujinTimes.Net.Models.DataModels.Group>
@{
    var groupCode = Html.DisplayNameFor(model => model.GroupCode);
    var description = Html.DisplayNameFor(model => model.Description);
}

<!-- エラーメッセージを定義 -->
<script type="text/ng-template" id="error-messages-groups-groupCode">
    <span ng-message="required">
        @groupCode は必須です。
    </span>
    @*<span ng-message="minlength, maxlength">
            @groupCode は 文字の英数字でなければなりません。
        </span>*@
</script>
<script type="text/ng-template" id="error-messages-groups-description">
    <span ng-message="required">
        @description は必須です。
    </span>
</script>

<!-- 新規作成ダイアログを表示 -->
<div class="modal" id="modal-create">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">新規作成</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="createForm" ng-model="item" ng-submit="store.groups.create(item, $event, this)">
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-form-label col-md-3">@groupCode</label>
                        <div class="col-md-4">
                            <input name="groupCode" id="modal-create_first"
                                   type="text" class="form-control" required
                                   ng-model="item.groupCode" placeholder="CD61-4" />
                        </div>
                        <div class="col-form-label col-md text-danger">
                            <div ng-messages="createForm.groupCode.$error">
                                <span ng-messages-include="error-messages-groups-groupCode"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3">@description</label>
                        <div class="col-md-4">
                            <input name="description" id="" type="text" class="form-control" required
                                   ng-model="item.description" placeholder="情報処理科61期4組" />
                        </div>
                        <div class="col-form-label col-md text-danger">
                            <div ng-messages="createForm.description.$error">
                                <span ng-messages-include="error-messages-groups-description"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <span class="col-form-label col-md text-danger">
                            {{createErrorMessage}}
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" ng-disabled="createForm.$invalid">
                        追加
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <h2 class="col">
        グループ
    </h2>
    <div class="float-right">
        <div class="form-group">
            <input type="button" class="btn btn-primary"
                   ng-click="store.showCreateModal()"
                   value="新規作成">
        </div>
    </div>
    <form action="api/groups" class="float-right">
        <div class="form-group">
            <input type="hidden" name="xlsx" />
            <button type="submit" class="btn btn-default">ダウンロード</button>
        </div>
    </form>
    <div class=""></div>
</div>

<div ng-init="items=store.groups.query(null, $event, this);students=store.students.query(null, $event, this);"
     ng-dragover="store.groups.dragover($event, $scope)"
     ng-drop="store.groups.drop($event, $scope)">
    <div class="edit-header">
        <div class="container">
            <ul class="list-unstyled ul-header">

                <!-- 検索フォーム -->
                <li>
                    <form class="form-row search-item" ng-model="parameter"
                          ng-submit="store.groups.query(parameter, $event, this)">
                        <div class="col-sm-12 row">
                            <div class="form-group col-sm-1">
                                <div class="">
                                    <input type="submit" class="btn btn-primary" value="検索" />
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <div class="">
                                    <input type="text" class="form-control no-border"
                                           placeholder="@groupCode" ng-model="parameter.groupCode" />
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <div class="">
                                    <input type="text" class="form-control no-border"
                                           placeholder="@description" ng-model="parameter.description" />
                                </div>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
        <hr class="hr-compact" />
    </div>
    <div class="container pre-scrollable edit-table">
        <div>
            <!-- データが読み込まれていない場合/0件の場合のメッセージ -->
            <div ng-hide="items">読み込み中…</div>
            <div ng-show="items && items.length == 0">データが存在しません</div>
        </div>
        <ul ng-show="items" class="list-unstyled">
            <li ng-repeat="item in items | orderBy: 'groupCode'">
                <!-- 編集フォーム -->
                <form class="form-row no-border"
                      id="{{'item_' + $index}}"
                      ng-init="item.$$index=$index"
                      ng-submit="store.groups.update(item, $event, this)" name="updateForm">
                    <div class="col-sm-12 row edit-item animated"
                         ng-class="{
                                'item-created': item.$$created && updateForm.$pristine,
                                'item-modified': updateForm.$dirty,
                                'item-updated': updateForm.$pristine && item.$$updated,
                            }">
                        <div class="form-group col-sm-1">
                            <span class="form-control-plaintext item_mark">
                                <span ng-show="item.$$created && updateForm.$pristine">NEW!</span>
                                <span ng-show="updateForm.$dirty && !item.$$updating">！</span>
                                <span ng-show="updateForm.$dirty && item.$$updating">…</span>
                                <span ng-show="updateForm.$pristine && item.$$updated">&#10003;</span>
                            </span>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="">
                                <a href="" ng-click="editForm.$$editMode = !editForm.$$editMode"
                                   class="form-control-plaintext" ng-bind="item.groupCode"></a>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="">
                                <input name="description" id="" type="text" class="form-control no-border" required
                                       ng-model="item.description" placeholder="" />
                            </div>
                        </div>
                        <div class="form-group col-sm row">
                            <input type="submit" class="btn btn-primary" value="変更" ng-disabled="updateForm.$invalid || item.$$updating" />
                            <input type="button" class="btn btn-default" ng-click="store.groups.delete(item, $event, this)" value="削除" />
                            <div class="col-form-label col-md text-danger" ng-show="updateForm.$error">
                                <div ng-messages="updateForm.description.$error">
                                    <span ng-messages-include="error-messages-groups-description"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- メニュー -->
                <div class="update-menu offset-sm-0 col-sm-12 row menu-animated"
                     ng-init="items=store.attendGroups.query({'groupId': item.id}, $event, this)"
                     ng-if="editForm.$$editMode">
                    <div class="col-sm-12">
                        <h3>所属生徒</h3>
                        <hr class="hr-compact" />
                    </div>
                    <!-- グループに所属する生徒を表示 -->
                    <div class="col-sm-6">
                        <ul ng-show="items" class="list-unstyled">
                            <li ng-repeat="sub_item in items| orderBy: 'studentIdNumber'" class="animated">
                                <div ng-form="sub_updateForm" class="form-row" ng-model="sub_item">
                                    <div class="col-sm-12 row edit-item animated">
                                        <div class="form-group col-sm-8">
                                            <span class="form-control-plaintext"
                                                  ng-model="sub_item"
                                                  ng-bind="sub_item.studentIdNumber + ' ' + sub_item.studentName"></span>
                                        </div>
                                        <div class="form-group col-sm">
                                            <input type="button" class="btn btn-default" ng-click="store.attendGroups.delete(sub_item, $event, this)" value="削除" />
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- 追加 -->
                    <div class="col-sm-6">
                        <div ng-form="sub_createForm" class="form-row" ng-model="sub_item">
                            <div class="col-sm-12 row search-item">
                                <div class="form-group col-sm-8">
                                    <input type="hidden" name="groupId" ng-model="sub_item.groupId" ng-init="sub_item.groupId = item.id" />
                                    <select name="studentId" class="form-control no-border" required
                                            ng-model="sub_item.studentId"
                                            ng-options="student.id as student.studentId + ' ' + student.name for student in students"></select>
                                </div>
                                <div class="form-group col-sm">
                                    <button type="button" class="btn btn-primary" ng-disabled="sub_createForm.$invalid"
                                            ng-click="store.attendGroups.create(sub_item, $event, this)">
                                        登録
                                    </button>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="form-group">
                                    <span class="col-form-label col-md text-danger">
                                        {{createErrorMessage}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- メニュー終了 -->
            </li>
        </ul>
        <div style="height:200pt;"></div>
    </div>
</div>
