﻿
<div class="row">
    <div class="jumbotron col-sm-7 text-center"
         ng-dragover="dragover($event, $scope)"
         ng-drop="drop($event, $scope)">
        <h1>
            <img src="~/images/logo_ttnet_l.png" alt="TetsujinTimes.NET" />
            <br />
            <small>
                TetsujinTimes.NET
            </small>
        </h1>
        @*<p class="lead">
                時間割管理ツール「」
            </p>*@
        <p class="text-info">
            ≪ ここにドラッグ＆ドロップでExcelファイルからインポート　≫
        </p>
        <div>
            <form action="api/getxlsx">
                <input type="hidden" name="xlsx" />
                <button type="submit" class="btn btn-primary">Excelファイルとしてエクスポート</button>
            </form>
        </div>
    </div>

    <div class="col-sm container">
        <!-- 目次リスト -->
        <h2>サイトマップ</h2>
        <dl class="col-sm-12 row">
            <dt class="col-sm-4">
                <a ng-href="/Classrooms">教室</a>
            </dt>
            <dd class="col-sm-8">
                教室情報を編集します。
            </dd>
            <dt class="col-sm-4">
                <a ng-href="/Periods">時限</a>
            </dt>
            <dd class="col-sm-8">
                時限情報を編集します。
            </dd>
            <dt class="col-sm-4">
                <a ng-href="/Departments">学科</a>
            </dt>
            <dd class="col-sm-8">
                学科情報を編集します。
            </dd>
            <dt class="col-sm-4">
                <a ng-href="/Teachers">教師</a>
            </dt>
            <dd class="col-sm-8">
                教師情報を編集します。
            </dd>
            <dt class="col-sm-4">
                <a ng-href="/Students">生徒</a>
            </dt>
            <dd class="col-sm-8">
                生徒情報を編集します。
            </dd>
            <dt class="col-sm-4">
                <a ng-href="/Groups">グループ</a>
            </dt>
            <dd class="col-sm-8">
                グループ情報を編集します。
            </dd>
            <dt class="col-sm-4">
                <a ng-href="/Lessons">授業</a>
            </dt>
            <dd class="col-sm-8">
                授業情報を編集します。
            </dd>
            <dt class="col-sm-4">
                <a ng-href="/Memos">メモ</a>
            </dt>
            <dd class="col-sm-8">
                メモ情報を編集します。
            </dd>
            <dt class="col-sm-4">
                <a ng-href="/Notifications">通知</a>
            </dt>
            <dd class="col-sm-8">
                プッシュ通知を送信します。
            </dd>
        </dl>


        @*<p>
            </p>*@
        @*<form action="api/getxlsx" method="post" enctype="multipart/form-data">
                <input type="file" multiple name="upload" value="" />
                <input type="submit" value="送信" />
            </form>*@

    </div>
</div>