﻿@model IEnumerable<TetsujinTimes.Net.Models.DataModels.Lesson>

@{
    var lessonCode = Html.DisplayNameFor(model => model.LessonCode);
    var lessonName = Html.DisplayNameFor(model => model.LessonName);
    var classroomId = Html.DisplayNameFor(model => model.ClassroomName);
    var weekDay = Html.DisplayNameFor(model => model.WeekDay);
    var startPeriodId = Html.DisplayNameFor(model => model.StartPeriodNumber);
    var endPeriodId = Html.DisplayNameFor(model => model.EndPeriodNumber);
    var season = Html.DisplayNameFor(model => model.Season);
    var teacherId = Html.DisplayNameFor(model => model.TeacherName);
    var firstDate = Html.DisplayNameFor(model => model.FirstDate);
    var totalCount = Html.DisplayNameFor(model => model.TotalCount);
    var description = Html.DisplayNameFor(model => model.Description);
}

<!-- エラーメッセージを定義 -->
<script type="text/ng-template" id="error-messages-lessons-lessonCode">
    <span ng-message="required">
        @lessonCode は必須です。
    </span>
    <span ng-message="minlength, maxlength">
        @lessonCode は 13 文字でなければなりません。
    </span>
</script>
<script type="text/ng-template" id="error-messages-lessons-lessonName">
    <span ng-message="required">
        @lessonName は必須です。
    </span>
</script>
<script type="text/ng-template" id="error-messages-lessons-classroomId">
    <span ng-message="required">
        @classroomId は必須です。
    </span>
</script>
<script type="text/ng-template" id="error-messages-lessons-weekDay">
    <span ng-message="required">
        @weekDay は必須です。
    </span>
</script>
<script type="text/ng-template" id="error-messages-lessons-startPeriodId">
    <span ng-message="required">
        @startPeriodId は必須です。
    </span>
</script>
<script type="text/ng-template" id="error-messages-lessons-endPeriodId">
    <span ng-message="required">
        @endPeriodId は必須です。
    </span>
</script>
<script type="text/ng-template" id="error-messages-lessons-season">
    <span ng-message="season">
        @season は必須です。
    </span>
</script>
<script type="text/ng-template" id="error-messages-lessons-teacherId">
    <span ng-message="required">
        @teacherId は必須です。
    </span>
</script>
<script type="text/ng-template" id="error-messages-lessons-firstDate">
    <span ng-message="required">
        @firstDate は必須です。
    </span>
</script>
<script type="text/ng-template" id="error-messages-lessons-totalCount">
    <span ng-message="required">
        @totalCount は必須です。
    </span>
</script>
<script type="text/ng-template" id="error-messages-lessons-description">
</script>

<div class="h-100"
     ng-init="items=store.lessons.query(null, $event, this);classrooms=store.classrooms.query(null, $event, this);teachers=store.teachers.query(null, $event, this);periods=store.periods.query(null, $event, this);groups=store.groups.query(null, $event, this);">
    <!-- 新規作成ダイアログを表示 -->
    <div class="modal" id="modal-create">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">新規作成</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form name="createForm" ng-model="item" ng-submit="store.lessons.create(item, $event, this)">
                    <div class="modal-body pre-scrollable">
                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">@lessonCode</label>
                            <div class="col-sm-4">
                                <input name="lessonCode" id="modal-create_first" required minlength="13" maxlength="13"
                                       type="text" class="form-control"
                                       ng-model="item.lessonCode" placeholder="KGCD016CD1044" />
                            </div>
                            <div class="col-form-label col-sm text-danger">
                                <div ng-messages="createForm.lessonCode.$error">
                                    <span ng-messages-include="error-messages-lessons-lessonCode"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">@lessonName</label>
                            <div class="col-sm-4">
                                <input name="lessonName" id="" type="text" class="form-control" required
                                       ng-model="item.lessonName" placeholder="キャリアデザイン４" />
                            </div>
                            <div class="col-form-label col-sm text-danger">
                                <div ng-messages="createForm.lessonName.$error">
                                    <span ng-messages-include="error-messages-lessons-lessonName"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">@classroomId</label>
                            <div class="col-sm-4">
                                <select name="classroomId" class="form-control" required
                                        ng-model="item.classroomId"
                                        ng-options="classroom.id as classroom.classroomName for classroom in classrooms"></select>
                            </div>
                            <div class="col-form-label col-sm text-danger">
                                <div ng-messages="createForm.classroomId.$error">
                                    <span ng-messages-include="error-messages-lessons-classroomId"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">@weekDay</label>
                            <div class="col-sm-4">
                                <select name="weekDay" class="form-control" required
                                        ng-model="item.weekDay" ng-init="item.weekDay='Monday'">
                                    <option ng-value="'Sunday'">日</option>
                                    <option ng-value="'Monday'">月</option>
                                    <option ng-value="'Tuesday'">火</option>
                                    <option ng-value="'Wednesday'">水</option>
                                    <option ng-value="'Thursday'">木</option>
                                    <option ng-value="'Friday'">金</option>
                                    <option ng-value="'Saturday'">土</option>
                                </select>
                            </div>
                            <div class="col-form-label col-sm text-danger">
                                <div ng-messages="createForm.weekDay.$error">
                                    <span ng-messages-include="error-messages-lessons-weekDay"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">@startPeriodId</label>
                            <div class="col-sm-4">
                                <select name="startPeriodId" class="form-control" required
                                        ng-model="item.startPeriodId"
                                        ng-options="period.id as period.number + '時限 ' + period.startTime.slice(0, -3) + ' ～' for period in periods "></select>
                            </div>
                            <div class="col-form-label col-sm text-danger">
                                <div ng-messages="createForm.startPeriodId.$error">
                                    <span ng-messages-include="error-messages-lessons-startPeriodId"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">@endPeriodId</label>
                            <div class="col-sm-4">
                                <select name="endPeriodId" class="form-control" required
                                        ng-model="item.endPeriodId"
                                        ng-options="period.id as period.number + '時限 ～' + period.endTime.slice(0, -3) for period in periods "></select>
                            </div>
                            <div class="col-form-label col-sm text-danger">
                                <div ng-messages="createForm.endPeriodId.$error">
                                    <span ng-messages-include="error-messages-lessons-endPeriodId"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">@teacherId</label>
                            <div class="col-sm-4">
                                <select name="teacherId" class="form-control" required
                                        ng-model="item.teacherId"
                                        ng-options="teacher.id as ('00000' + teacher.teacherId).slice(-5) + ' ' + teacher.name for teacher in teachers"></select>
                            </div>
                            <div class="col-form-label col-sm text-danger">
                                <div ng-messages="createForm.teacherId.$error">
                                    <span ng-messages-include="error-messages-lessons-teacherId"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">@season</label>
                            <div class="col-sm-4">
                                <select name="season" class="form-control" required
                                        ng-model="item.season" ng-init="item.season=0">
                                    <option ng-value="0">前期</option>
                                    <option ng-value="1">後期</option>
                                </select>
                            </div>
                            <div class="col-form-label col-sm text-danger">
                                <div ng-messages="createForm.season.$error">
                                    <span ng-messages-include="error-messages-lessons-season"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">@firstDate</label>
                            <div class="col-sm-4">
                                <input name="firstDate" type="date" class="form-control" required
                                       ng-model="firstDate"
                                       ng-init="firstDate = formatToDate();item.firstDate = formatFromDate(firstDate)"
                                       ng-change="item.firstDate = formatFromDate(firstDate)" />
                            </div>
                            <div class="col-form-label col-sm text-danger">
                                <div ng-messages="createForm.firstDate.$error">
                                    <span ng-messages-include="error-messages-lessons-firstDate"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">@totalCount</label>
                            <div class="col-sm-4">
                                <input name="totalCount" type="number" class="form-control"
                                       required ng-model="item.totalCount" ng-init="item.totalCount=12" min="1" />
                            </div>
                            <div class="col-form-label col-sm text-danger">
                                <div ng-messages="createForm.totalCount.$error">
                                    <span ng-messages-include="error-messages-lessons-totalCount"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row col-sm-12">
                            <label class="col-form-label col-sm-3">@description</label>
                            <div class="col-sm">
                                <textarea name="description" type="text" class="form-control col-12"
                                          ng-model="item.description"></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <span class="col-form-label col-sm text-danger">
                                {{createErrorMessage}}
                            </span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" ng-disabled="createForm.$invalid">
                            追加
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <h2 class="col">
            授業
        </h2>
        <div class="float-right">
            <div class="form-group">
                <input type="button" class="btn btn-primary"
                       ng-click="store.showCreateModal()"
                       value="新規作成">
            </div>
        </div>
        <form action="api/lessons" class="float-right">
            <div class="form-group">
                <input type="hidden" name="xlsx" />
                <button type="submit" class="btn btn-default">ダウンロード</button>
            </div>
        </form>
        <div class=""></div>
    </div>

    <div ng-dragover="store.lessons.dragover($event, $scope)"
         ng-drop="store.lessons.drop($event, $scope)">
        <div class="edit-header">
            <div class="container">
                <ul class="list-unstyled ul-header">

                    <!-- 検索フォーム -->
                    <li>
                        <form class="form-row search-item" ng-model="parameter"
                              ng-submit="store.lessons.query(parameter, $event, this)">
                            <div class="col-sm-12 row">
                                <div class="form-group col-sm-1">
                                    <div class="">
                                        <input type="submit" class="btn btn-primary" value="検索" />
                                    </div>
                                </div>
                                <div class="col-sm-11 row">
                                    <div class="form-group col-sm-3">
                                        <div class="">
                                            <input type="text" class="form-control no-border"
                                                   maxlength="9"
                                                   placeholder="@lessonCode" ng-model="parameter.lessonCode" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <div class="">
                                            <input type="text" class="form-control no-border"
                                                   placeholder="@lessonName" ng-model="parameter.lessonName" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <div class="">
                                            <input type="text" class="form-control no-border"
                                                   placeholder="@teacherId" ng-model="parameter.teacherId" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
            <hr class="hr-compact" />
        </div>
        <div class="container pre-scrollable edit-table">
            <div>
                <!-- データが読み込まれていない場合/0件の場合のメッセージ -->
                <div ng-hide="items">読み込み中…</div>
                <div ng-show="items && items.length == 0">データが存在しません</div>
            </div>
            <ul ng-show="items" class="list-unstyled">
                <li ng-repeat="item in items | orderBy: 'lessonCode'">
                    <!-- 編集フォーム -->
                    <form class="form-row no-border"
                          id="{{'item_' + $index}}"
                          ng-init="item.$$index=$index"
                          ng-submit="store.lessons.update(item, $event, this)" name="updateForm">
                        <div class="col-sm-12 row edit-item animated"
                             ng-class="{
                                'item-created': item.$$created && updateForm.$pristine,
                                'item-modified': updateForm.$dirty,
                                'item-updated': updateForm.$pristine && item.$$updated,
                            }">
                            <div class="form-group col-sm-1">
                                <span class="form-control-plaintext item_mark">
                                    <span ng-show="item.$$created && updateForm.$pristine">NEW!</span>
                                    <span ng-show="updateForm.$dirty && !item.$$updating">！</span>
                                    <span ng-show="updateForm.$dirty && item.$$updating">…</span>
                                    <span ng-show="updateForm.$pristine && item.$$updated">&#10003;</span>
                                </span>
                            </div>
                            <div class="col-sm-11 row">
                                <div class="form-group col-sm-3">
                                    <div class="">
                                        <a href="" ng-click="editForm.$$editMode = !editForm.$$editMode"
                                           class="form-control-plaintext" ng-bind="item.lessonCode"></a>
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <div class="">
                                        <input name="lessonName" id="" type="text" class="form-control no-border" required
                                               ng-model="item.lessonName" placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <div class="">
                                        <select name="teacherId" class="form-control no-border" required
                                                ng-model="item.teacherId"
                                                ng-options="teacher.id as ('00000' + teacher.teacherId).slice(-5) + ' ' + teacher.name for teacher in teachers"></select>
                                    </div>
                                </div>
                                <div class="form-group col-sm">
                                    <div class="col-sm-12">
                                        <input type="submit" class="btn btn-primary" value="変更" ng-disabled="updateForm.$invalid || item.$$updating" />
                                        <input type="button" class="btn btn-default" ng-click="store.lessons.delete(item, $event, this)" value="削除" />
                                    </div>
                                </div>
                                <div class="form-group offset-sm-1 col-sm-11" ng-show="updateForm.$invalid">
                                    <div class="col-form-label text-danger">
                                        <div ng-messages="updateForm.lessonName.$error">
                                            <span ng-messages-include="error-messages-lessons-lessonName"></span>
                                        </div>
                                        <div ng-messages="updateForm.teacherId.$error">
                                            <span ng-messages-include="error-messages-lessons-teacherId"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- メニュー -->
                        <div class="update-menu offset-sm-0 col-sm-12 row menu-animated" ng-if="editForm.$$editMode">
                            <div class="col-sm-3">
                                <label class="col-form-label col-sm">@classroomId</label>
                                <div class="col-sm">
                                    <select name="classroomId" class="form-control no-border" required
                                            ng-model="item.classroomId"
                                            ng-options="classroom.id as classroom.classroomName for classroom in classrooms"></select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label class="col-form-label col-sm">@weekDay</label>
                                <div class="col-sm">
                                    <select name="weekDay" class="form-control no-border" required
                                            ng-model="item.weekDay" ng-init="item.weekDay='Monday'">
                                        <option ng-value="'Sunday'">日</option>
                                        <option ng-value="'Monday'">月</option>
                                        <option ng-value="'Tuesday'">火</option>
                                        <option ng-value="'Wednesday'">水</option>
                                        <option ng-value="'Thursday'">木</option>
                                        <option ng-value="'Friday'">金</option>
                                        <option ng-value="'Saturday'">土</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <label class="col-form-label col-sm">@startPeriodId</label>
                                <div class="col-sm">
                                    <select name="startPeriodId" class="form-control no-border" required
                                            ng-model="item.startPeriodId"
                                            ng-options="period.id as period.number + '時限 ' + period.startTime.slice(0, -3) + ' ～' for period in periods "></select>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <label class="col-form-label col-sm">@endPeriodId</label>
                                <div class="col-sm">
                                    <select name="endPeriodId" class="form-control no-border" required
                                            ng-model="item.endPeriodId"
                                            ng-options="period.id as period.number + '時限 ～' + period.endTime.slice(0, -3) for period in periods "></select>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <label class="col-form-label col-sm">@season</label>
                                <div class="col-sm">
                                    <select name="season" class="form-control no-border" required
                                            ng-model="item.season" ng-init="item.season=0">
                                        <option ng-value="0">前期</option>
                                        <option ng-value="1">後期</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <label class="col-form-label col-sm">@firstDate</label>
                                <div class="col-sm">
                                    <input name="firstDate" type="date" class="form-control no-border" required
                                           ng-model="firstDate"
                                           ng-init="firstDate = formatToDate()"
                                           ng-change="item.firstDate = formatFromDate(firstDate)" />
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <label class="col-form-label col-sm">@totalCount</label>
                                <div class="col-sm">
                                    <input name="totalCount" type="number" class="form-control no-border" required ng-model="item.totalCount" min="1" />
                                </div>
                            </div>

                            <div class="form-group col-sm-12">
                                <label class="col-form-label col-sm">@description</label>
                                <div class="col-sm-12">
                                    <textarea name="description" type="text"
                                              class="form-control no-border col-12" ng-model="item.description"></textarea>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="float-sm-right">
                                    <input type="submit" class="btn btn-primary" value="変更" ng-disabled="updateForm.$invalid || item.$$updating" />
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- メニュー2 -->
                    <div class="update-menu offset-sm-0 row menu-animated"
                         style="margin-top:-20px;"
                         ng-if="editForm.$$editMode">
                        <div class="col-sm-12" style="margin-right:5px;margin-left:5px;"
                             ng-init="items=store.lessonGroups.query({'lessonId': item.id}, $event, this)">
                            <h4>受講グループ</h4>
                            <hr class="hr-compact" />
                        </div>
                        <!-- グループに所属する生徒を表示 -->
                        <div class="col-sm-6">
                            <ul ng-show="items" class="list-unstyled">
                                <li ng-repeat="sub_item in items| orderBy: 'groupCode'" class="animated">
                                    <div ng-form="sub_updateForm" class="form-row" ng-model="sub_item">
                                        <div class="col-sm-12 row edit-item animated">
                                            <div class="form-group col-sm-8">
                                                <span class="form-control-plaintext"
                                                      ng-model="sub_item"
                                                      ng-bind="sub_item.groupCode + ' ' + sub_item.description"></span>
                                            </div>
                                            <div class="form-group col-sm">
                                                <input type="button" class="btn btn-default" ng-click="store.lessonGroups.delete(sub_item, $event, this)" value="削除" />
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!-- 追加 -->
                        <div class="col-sm-6">
                            <div ng-form="sub_createForm" class="form-row" ng-model="sub_item">
                                <div class="col-sm-12 row search-item">
                                    <div class="form-group col-sm-8">
                                        <input type="hidden" name="groupId" ng-model="sub_item.lessonId" ng-init="sub_item.lessonId = item.id" />
                                        <select name="studentId" class="form-control" required
                                                ng-model="sub_item.groupId"
                                                ng-options="group.id as group.groupCode + ' ' + group.description for group in groups"></select>
                                    </div>
                                    <div class="form-group col-sm">
                                        <button type="button" class="btn btn-primary" ng-disabled="sub_createForm.$invalid"
                                                ng-click="store.lessonGroups.create(sub_item, $event, this)">
                                            登録
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="form-group">
                                        <span class="col-form-label col-md text-danger">
                                            {{createErrorMessage}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- メニュー終了 -->
                </li>
            </ul>
            <div style="height:200pt;"></div>
        </div>
    </div>
</div>
