﻿@model IEnumerable<TetsujinTimes.Net.Models.DataModels.LessonDetail>

@{
    Layout = null;
}

<h2>LessonDetails</h2>

<div>
    <form name="uploadForm" ng-submit="store.lessonDetails.upload(uploadForm)">
        <input type="file" name="file" ng-model="file" />
        <input type="submit" value="送信" />
    </form>
</div>

<div>
    <form action="api/lessondetails">
        <input type="hidden" name="xlsx" />
        <button type="submit">ダウンロード</button>
    </form>
</div>
