﻿<!--
    ログイン画面（仮）
-->
<div style="
        position:fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        padding: 15px 20px;
	background: linear-gradient(90deg, #55A, #FFF, #FFF, #99B);
    ">
    <h1 class="text-center">
        <img src="~/images/tticon_net.svg" width="300" alt="TetsujinTimes.NET" /><br>
        <small>TetsujinTimes.NET</small>
    </h1>

    <div class=" container offset-sm-4 col-sm-4">
        <div class="card">
            <div class="card-body">
                <div class="card-text">
                    <form ng-submit="login($event, this)">
                        <div class="form-group row">
                            <label class="form-control-plaintext col-sm-5" for="email">メールアドレス：</label>
                            <input type="email" id="email" ng-model="email" autofocus
                                   class="form-control col-sm" />
                        </div>
                        <div class="form-group row">
                            <label class="form-control-plaintext col-sm-5" for="password">パスワード</label>
                            <input type="password" id="password"
                            class="form-control col-sm"
                            ng-model="password" />
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" ng-checked="true"
                                       ng-model="saveLoginState" />
                                ログイン状態を記憶する
                            </label>
                        </div>
                        <div class="form-group row">
                            <span class="form-control-plaintext text-danger"
                                  ng-bind="errorMessage"></span>
                        </div>
                        <input type="submit" name="submit" value="ログイン"
                               class="btn btn-primary offset-sm-10" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
