﻿@model IEnumerable<TetsujinTimes.Net.Models.DataModels.Memo>
@{
    var lessonId = Html.DisplayNameFor(model => model.LessonName);
    var studentId = Html.DisplayNameFor(model => model.StudentName);
    var memoAt = Html.DisplayNameFor(model => model.MemoAt);
    var content = Html.DisplayNameFor(model => model.Content);
}

<!-- エラーメッセージを定義 -->
<script type="text/ng-template" id="error-messages-memos-lessonId">
    <span ng-message="required">
        @lessonId は必須です。
    </span>
</script>
<script type="text/ng-template" id="error-messages-memos-studentId">
    <span ng-message="required">
        @studentId は必須です。
    </span>
</script>
<script type="text/ng-template" id="error-messages-memos-memoAt">
</script>
<script type="text/ng-template" id="error-messages-memos-content">
</script>

<div ng-init="items=store.memos.query(null, $event, this);students=store.students.query(null, $event, this);lessons=store.lessons.query(null, $event, this)">

    <!-- 新規作成ダイアログを表示 -->
    <div class="modal" id="modal-create">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">新規作成</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form name="createForm" ng-model="item" ng-submit="store.memos.create(item, $event, this)">

                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-form-label col-md-3">@lessonId</label>
                            <div class="col-md-4">
                                <select name="departmentCode" id="modal-create_first" class="form-control" required
                                        ng-model="item.lessonId"
                                        ng-options="lesson.id as lesson.lessonName for lesson in lessons"></select>
                            </div>
                            <div class="col-form-label col-md text-danger">
                                <div ng-messages="createForm.departmentCode.$error">
                                    <span ng-messages-include="error-messages-memos-lessonId"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-md-3">@studentId</label>
                            <div class="col-md-4">
                                <select name="studentId" class="form-control" required
                                        ng-model="item.studentId"
                                        ng-options="student.id as student.name for student in students"></select>
                            </div>
                            <div class="col-form-label col-md text-danger">
                                <div ng-messages="createForm.studentId.$error">
                                    <span ng-messages-include="error-messages-memos-studentId"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row col-sm-12">
                            <label class="col-form-label col-sm-3">@content</label>
                            <div class="col-sm">
                                <textarea name="content" type="text" class="form-control col-12"
                                          ng-model="item.content"></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <span class="col-form-label col-md text-danger">
                                {{createErrorMessage}}
                            </span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" ng-disabled="createForm.$invalid">
                            追加
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <h2 class="col">
            メモ
        </h2>
        <div class="float-right">
            <div class="form-group">
                <input type="button" class="btn btn-primary"
                       ng-click="store.showCreateModal()"
                       value="新規作成">
            </div>
        </div>
        <form action="api/memos" class="float-right">
            <div class="form-group">
                <input type="hidden" name="xlsx" />
                <button type="submit" class="btn btn-default">ダウンロード</button>
            </div>
        </form>
        <div class=""></div>
    </div>

    <div ng-dragover="store.memos.dragover($event, $scope)"
         ng-drop="store.memos.drop($event, $scope)">
        <div class="edit-header">
            <div class="container">
                <ul class="list-unstyled ul-header">

                    <!-- 検索フォーム -->
                    <li>
                        <form class="form-row search-item" ng-model="parameter"
                              ng-submit="items=store.memos.query(parameter, $event, this)">
                            <div class="col-sm-12 row">
                                <div class="form-group col-sm-1">
                                    <div class="">
                                        <input type="submit" class="btn btn-primary" value="検索" />
                                    </div>
                                </div>
                                <div class="col-sm-11 row">
                                    <div class="form-group col-sm-3">
                                        <div class="">
                                            <input type="text" class="form-control no-border"
                                                   maxlength="5"
                                                   placeholder="@lessonId" ng-model="parameter.lessonName" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <div class="">
                                            <input type="text" class="form-control no-border"
                                                   placeholder="@studentId" ng-model="parameter.studentName" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <div class="">
                                            <input type="text" class="form-control no-border"
                                                   placeholder="@memoAt" ng-model="parameter.memoAt" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
            <hr class="hr-compact" />
        </div>
        <div class="container pre-scrollable edit-table">
            <div>
                <!-- データが読み込まれていない場合/0件の場合のメッセージ -->
                <div ng-hide="items">読み込み中…</div>
                <div ng-show="items && items.length == 0">データが存在しません</div>
            </div>
            <ul ng-show="items" class="list-unstyled">
                <li ng-repeat="item in items | orderBy: 'departmentCode'">
                    <!-- 編集フォーム -->
                    <form class="form-row no-border"
                          id="{{'item_' + $index}}"
                          ng-init="item.$$index=$index"
                          ng-submit="store.memos.update(item, $event, this)" name="updateForm">
                        <div class="col-sm-12 row edit-item animated"
                             ng-class="{
                                    'item-created': item.$$created && updateForm.$pristine,
                                    'item-modified': updateForm.$dirty,
                                    'item-updated': updateForm.$pristine && item.$$updated,
                                }">
                            <div class="form-group col-sm-1">
                                <span class="form-control-plaintext item_mark">
                                    <span ng-show="item.$$created && updateForm.$pristine">NEW!</span>
                                    <span ng-show="updateForm.$dirty && !item.$$updating">！</span>
                                    <span ng-show="updateForm.$dirty && item.$$updating">…</span>
                                    <span ng-show="updateForm.$pristine && item.$$updated">&#10003;</span>
                                </span>
                            </div>
                            <div class="col-sm-11 row">
                                <div class="form-group col-sm-3">
                                    <div class="">
                                        <a href="" ng-click="editForm.$$editMode = !editForm.$$editMode"
                                           class="form-control-plaintext" ng-bind="item.lessonName"></a>
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <div class="">
                                        <span class="form-control-plaintext" ng-bind="item.studentName"></span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <div class="">
                                        <span class="form-control-plaintext">{{ convertToDate(item.memoAt) | date: 'yyyy/MM/dd hh:mm:ss'}}</span>
                                    </div>
                                </div>
                                <div class="form-group col-sm row">
                                    @*<input type="button" class="btn btn-info" value="表示" />*@
                                    <input type="submit" class="btn btn-primary" value="変更" ng-disabled="updateForm.$invalid || item.$$updating" />
                                    <input type="button" class="btn btn-default" ng-click="store.memos.delete(item, $event, this)" value="削除" />
                                    <div class="col-form-label col-md text-danger" ng-show="updateForm.$error">
                                        @*<div ng-messages="updateForm.studentId.$error">
                                        <span ng-messages-include="error-messages-memos-studentId"></span>
                                    </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="update-menu offset-sm-0 col-sm-12 row menu-animated" ng-if="editForm.$$editMode">
                            <div class="form-group col-sm-12 row">
                                <label class="col-form-label col-sm">@content</label>
                                <div class="col-sm-12">
                                    <textarea name="description" type="text"
                                              class="form-control col-12" ng-model="item.content"></textarea>
                                </div>
                            </div>
                            @*<div class="form-group offset-sm-10 col-sm row">
                        </div>*@
                        </div>
                    </form>
                </li>
            </ul>
            <div style="height:200pt;"></div>
        </div>
    </div>

</div>

