﻿@model IEnumerable<TetsujinTimes.Net.Models.DataModels.Notification>

<h2>通知</h2>
<div>
    <form ng-submit="create(item)" class="form">
        <div class="form-group col-sm-4">
            <label class="control-label" for="">@Html.DisplayNameFor(model => model.Title)</label>
            <input id="" type="text" class="form-control" ng-model="item.title" required />
        </div>
        @*<div class="form-group col-sm-4">
            <label class="control-label" for="">@Html.DisplayNameFor(model => model.TeacherName)</label>
            <select class="form-control"
                    ng-model="item.teacherId" required
                    ng-options="teacher.id as teacher.name for teacher in teachers"></select>
        </div>*@
        <div class="form-group col-sm-4">
            <label class="control-label" for="">@Html.DisplayNameFor(model => model.SendTo)</label>
            <input id="" type="text" class="form-control" ng-model="item.sendTo" required />
        </div>
        <div class="form-group col-sm-6">
            <label class="control-label" for="">@Html.DisplayNameFor(model => model.Description)</label>
            <textarea class="form-control col-12" ng-model="item.description"></textarea>
        </div>

        <div class="form-group col-sm-12">
            <input type="submit" class="btn btn-primary" value="送信" />
        </div>
    </form>
</div>
