﻿@model IEnumerable<TetsujinTimes.Net.Models.DataModels.Period>

@{
    var number = Html.DisplayNameFor(model => model.Number);
    var startTime = Html.DisplayNameFor(model => model.StartTime);
    var endTime = Html.DisplayNameFor(model => model.EndTime);
}

<!-- エラーメッセージを定義 -->
<script type="text/ng-template" id="error-messages-number">
    <span ng-message="required">
        @number は必須です。
    </span>
    <span ng-message="min">
        @number は 0 以上の整数でなければなりません。
    </span>
</script>
<script type="text/ng-template" id="error-messages-startTime">
    <span ng-message="required">
        @startTime は必須です。
    </span>
    <span ng-message="time">
        @startTime の形式が不正です。
    </span>
</script>
<script type="text/ng-template" id="error-messages-endTime">
    <span ng-message="required">
        @endTime は必須です。
    </span>
    <span ng-message="time">
        @endTime の形式が不正です。
    </span>
</script>

<!-- 新規作成ダイアログを表示 -->
<div class="modal" id="modal-create">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">新規作成</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="createForm" ng-model="item" ng-submit="store.periods.create(item, $event, this)">
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-form-label col-md-3">@number</label>
                        <div class="col-md-4">
                            <input name="number" id="modal-create_first" min="0"
                                   type="number" class="form-control" required
                                   ng-model="item.number" placeholder="1" />
                        </div>
                        <div class="col-form-label col-md text-danger">
                            <div ng-messages="createForm.number.$error">
                                <span ng-messages-include="error-messages-number"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3">@startTime</label>
                        <div class="col-md-4">
                            <input name="startTime" type="time" class="form-control" required
                                   ng-model="startTime"
                                   ng-init="item.startTime='09:00';startTime=formatToDate(item.startTime) "
                                   ng-change="item.startTime=formatFromDate(startTime)" />
                        </div>
                        <div class="col-form-label col-md text-danger">
                            <div ng-messages="createForm.startTime.$error">
                                <span ng-messages-include="error-messages-startTime"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3">@endTime</label>
                        <div class="col-md-4">
                            <input name="endTime" type="time" class="form-control" required
                                   ng-model="endTime"
                                   ng-init="item.endTime='09:00';endTime=formatToDate(item.endTime) "
                                   ng-change="item.endTime=formatFromDate(endTime)" />
                        </div>
                        <div class="col-form-label col-md text-danger">
                            <div ng-messages="createForm.endTime.$error">
                                <span ng-messages-include="error-messages-endTime"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <span class="col-form-label col-md text-danger">
                            {{createErrorMessage}}
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" ng-disabled="createForm.$invalid">
                        追加
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <h2 class="col">
        時限
    </h2>
    <div class="float-right">
        <div class="form-group">
            <input type="button" class="btn btn-primary"
                   ng-click="store.showCreateModal()"
                   value="新規作成">
        </div>
    </div>
    <form action="api/periods" class="float-right">
        <div class="form-group">
            <input type="hidden" name="xlsx" />
            <button type="submit" class="btn btn-default">ダウンロード</button>
        </div>
    </form>
    <div class=""></div>
</div>

<div ng-init="items=store.periods.query(null, $event, this)"
     ng-dragover="store.periods.dragover($event, $scope)"
     ng-drop="store.periods.drop($event, $scope)">
    <div class="edit-header">
        <div class="container">
            <ul class="list-unstyled ul-header">

                <!-- 検索フォーム -->
                <li class="edit-item">
                    <form class="form-row " ng-model="parameter"
                          ng-submit="store.periods.query(parameter, $event, this)">
                        <div class="form-group col-sm-1">
                            <div class="">
                                <input type="submit" class="btn btn-primary" value="検索" />
                            </div>
                        </div>
                        <div class="form-group col-sm-1">
                            <div class="">
                                <input type="text" class="form-control no-border"
                                       placeholder="@number" ng-model="parameter.number" />
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="">
                                <input type="text" class="form-control no-border"
                                       placeholder="@startTime" ng-model="parameter.startTime" />
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="">
                                <input type="text" class="form-control no-border"
                                       placeholder="@endTime" ng-model="parameter.endTime" />
                            </div>
                        </div>
                        <div class="form-group col-sm">
                            @*<input type="button" class="btn btn-default" value="リセット" />*@
                        </div>
                    </form>
                </li>
            </ul>
            <hr class="hr-compact" />
        </div>
    </div>
    <div class="container pre-scrollable edit-table">
        <div>
            <!-- データが読み込まれていない場合/0件の場合のメッセージ -->
            <div ng-hide="items">読み込み中…</div>
            <div ng-show="items && items.length == 0">データが存在しません</div>
        </div>
        <ul ng-show="items" class="list-unstyled">
            <li ng-repeat="item in items | orderBy: 'number'" class="edit-item animated"
                ng-class="{
                    'item-created': item.$$created && updateForm.$pristine,
                    'item-modified': updateForm.$dirty,
                    'item-updated': updateForm.$pristine && item.$$updated,
                }">
                <!-- 編集フォーム -->
                <form class="form-row no-border"
                      id="{{'item_' + $index}}"
                      ng-init="item.$$index=$index"
                      ng-submit="store.periods.update(item, $event, this)" name="updateForm">
                    <div class="form-group col-sm-1">
                        <span class="form-control-plaintext item_mark">
                            <span ng-show="item.$$created && updateForm.$pristine">NEW!</span>
                            <span ng-show="updateForm.$dirty && !item.$$updating">！</span>
                            <span ng-show="updateForm.$dirty && item.$$updating">…</span>
                            <span ng-show="updateForm.$pristine && item.$$updated">&#10003;</span>
                        </span>
                    </div>
                    <div class="form-group col-sm-1">
                        <div class="">
                            <span class="form-control-plaintext" ng-bind="item.number"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <div class="">
                            <input name="startTime" type="time" class="form-control no-border" required
                                   ng-model="startTime"
                                   ng-init="startTime=formatToDate(item.startTime) "
                                   ng-change="item.startTime=formatFromDate(startTime)" />
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <div class="">
                            <input name="endTime" type="time" class="form-control no-border" required
                                   ng-model="endTime"
                                   ng-init="endTime=formatToDate(item.endTime) "
                                   ng-change="item.endTime=formatFromDate(endTime)" />
                        </div>
                    </div>
                    <div class="form-group col-sm row">
                        <input type="submit" class="btn btn-primary" value="変更" ng-disabled="updateForm.$invalid || item.$$updating" />
                        <input type="button" class="btn btn-default" ng-click="store.periods.delete(item, $event, this)" value="削除" />
                        <div class="col-form-label col-md text-danger" ng-show="updateForm.$error">
                            <div ng-messages="updateForm.number.$error">
                                <span ng-messages-include="error-messages-number"></span>
                            </div>
                            <div ng-messages="updateForm.startTime.$error">
                                <span ng-messages-include="error-messages-startTime"></span>
                            </div>
                            <div ng-messages="updateForm.endTime.$error">
                                <span ng-messages-include="error-messages-endTime"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
        <div style="height:200pt;"></div>
    </div>
    
</div>




@*<div class="container" ng-init="items=store.periods.query(null, $event, this)">
    @*<div class="col-md-12">
            <form name="uploadForm" ng-submit="store.periods.upload(uploadForm)" class="form-inline">
                <input type="file" name="file" ng-model="file" class="form-control-file" />
                <input type="submit" class="btn btn-primary" value="アップロード" />
            </form>
            <form action="api/periods" class="form-inline">
                <input type="hidden" name="xlsx" />
                <button type="submit" class="btn btn-default">ダウンロード</button>
            </form>
        </div>

    <div class="">
        <ul class="list-unstyled">
            <li>
                <form class="form-row">
                    <div class="form-group col-sm-2">
                        <div class="">
                            <input type="text" class="form-control no-border"
                                   placeholder="@number" />
                        </div>
                    </div>
                    <div class="form-group col-sm-2">
                        <div class="">
                            <div class="">
                                <input type="text" class="form-control no-border"
                                       placeholder="@startTime" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-2">
                        <div class="">
                            <div class="">
                                <input type="text" class="form-control no-border"
                                       placeholder="@endTime" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">

                    </div>
                </form>
            </li>
            <!-- 入力フォーム -->
            <li>
                <form ng-model="item" ng-submit="store.periods.create(item)"
                      class="form-row">
                    <div class="form-group col-sm-2">
                        <div class="">
                            <input type="number" class="form-control" ng-model="item.number" placeholder="1" />
                        </div>
                    </div>
                    <div class="form-group col-sm-2">
                        <div class="">
                            <input type="time" class="form-control"
                                   ng-model="startTime"
                                   ng-init="item.startTime='09:00';startTime=formatToDate(item.startTime) "
                                   ng-change="item.startTime=formatFromDate(startTime)" />
                        </div>
                    </div>
                    <div class="form-group col-sm-2">
                        <div class="">
                            <input type="time" class="form-control"
                                   ng-model="endTime"
                                   ng-init="item.endTime='09:45';endTime=formatToDate(item.endTime) "
                                   ng-change="item.endTime=formatFromDate(endTime)" />

                        </div>
                    </div>
                    <div class="form-group col-sm">
                        <div class="">
                            <input type="submit" class="btn btn-primary" value="追加" />
                        </div>
                    </div>
                </form>
            </li>
        </ul>
        <hr />
    </div>
    <div ng-show="items" class="container pre-scrollable">
        <ul class="list-unstyled">
            <li ng-repeat="item in items">
                <!-- 編集フォーム -->
                <form class="form-row" ng-submit="store.periods.update(item)">
                    <div class="form-group col-sm-2">
                        <div class="">
                            <input type="number" class="form-control no-border" ng-model="item.number" />
                        </div>
                    </div>
                    <div class="form-group col-sm-2">
                        <div class="">
                            <input type="time" class="form-control no-border"
                                   ng-model="startTime"
                                   ng-init="startTime=formatToDate(item.startTime) "
                                   ng-change="item.startTime=formatFromDate(startTime)" />
                        </div>
                    </div>
                    <div class="form-group col-sm-2">
                        <div class="">
                            <input type="time" class="form-control no-border"
                                   ng-model="endTime"
                                   ng-init="endTime=formatToDate(item.endTime) "
                                   ng-change="item.endTime=formatFromDate(endTime)" />
                        </div>
                    </div>
                    <div class="form-group col-sm">
                        <div class="">
                            <input type="submit" class="btn btn-primary" value="変更" />
                            <input type="button" class="btn btn-default" ng-click="store.periods.delete(item)" value="削除" />
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</div>



@*<div ng-init="items = store.periods.query(null, $event, this)">
        <table class="table" ng-show="items">
            <tr>
                <th>

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndTime)
                </th>
            </tr>

            <tr ng-model="item">
                <td>
                    <input type="button" class="btn btn-default" ng-click="deleteAll()" value="削除" />
                </td>
                <td>
                    <form ng-submit="create(item)">
                        <input type="number" class="form-control" ng-model="item.number" />
                    </form>
                </td>
                <td>
                        <input type="time" class="form-control"
                               ng-model="startTime"
                               ng-init="item.startTime='09:00';startTime=formatToDate(item.startTime) "
                               ng-change="item.startTime=formatFromDate(startTime)" />
                    </form>
                </td>
                <td>
                    <form ng-submit="create(item)">
                        <input type="time" class="form-control"
                               ng-model="endTime"
                               ng-init="item.endTime='09:45';endTime=formatToDate(item.endTime) "
                               ng-change="item.endTime=formatFromDate(endTime)" />
                    <form ng-submit="create(item)">
                    </form>
                </td>
                <td>
                    <input type="button" class="btn btn-default" ng-click="store.periods.create(item)" value="追加" />
                </td>
            </tr>

            <tr ng-repeat="item in items">
                <td>
                    <input type="checkbox" class="checkbox" ng-model="item.checked" />
                </td>

                <td>
                    <form ng-submit="create(item)">
                        <input type="number" class="form-control no-border" ng-model="item.number" />
                    </form>
                </td>
                <td>
                    <form ng-submit="create(item)">
                        <input type="time" class="form-control no-border"
                               ng-model="startTime"
                               ng-init="startTime=formatToDate(item.startTime) "
                               ng-change="item.startTime=formatFromDate(startTime)" />
                    </form>
                </td>
                <td>
                    <form ng-submit="create(item)">
                        <input type="time" class="form-control no-border"
                               ng-model="endTime"
                               ng-init="endTime=formatToDate(item.endTime) "
                               ng-change="item.endTime=formatFromDate(endTime)" />
                    </form>
                </td>
                <td>
                    <input type="button" class="btn btn-default" ng-click="store.periods.update(item)" value="変更" />
                    <input type="button" class="btn btn-default" ng-click="store.periods.delete(item)" value="削除" />
                </td>
            </tr>
        </table>
    </div>*@

