﻿@model IEnumerable<TetsujinTimes.Net.Models.DataModels.Student>

@{
    var studentId = Html.DisplayNameFor(model => model.StudentId);
    var name = Html.DisplayNameFor(model => model.Name);
    var email = Html.DisplayNameFor(model => model.Email);
    var departmentId = Html.DisplayNameFor(model => model.DepartmentName);
    var grade = Html.DisplayNameFor(model => model.Grade);
    var classNum = Html.DisplayNameFor(model => model.ClassNum);
}

<!-- エラーメッセージを定義 -->
<script type="text/ng-template" id="error-messages-students-studentId">
    <span ng-message="required">
        @studentId は必須です。
    </span>
    <span ng-message="minlength, maxlength">
        @studentId は 9 文字でなければなりません。
    </span>
</script>
<script type="text/ng-template" id="error-messages-students-email">
    <span ng-message="required">
        @email は必須です。
    </span>
    <span ng-message="email">
        @email の形式が不正です。
    </span>
</script>
<script type="text/ng-template" id="error-messages-students-name">
    <span ng-message="required">
        @name は必須です。
    </span>
</script>
<script type="text/ng-template" id="error-messages-students-departmentId">
    <span ng-message="required">
        @departmentId は必須です。
    </span>
</script>
<script type="text/ng-template" id="error-messages-students-grade">
    <span ng-message="required">
        @grade は必須です。
    </span>
    <span ng-message="min">
        @grade は 1 以上の整数でなければなりません。
    </span>
</script>
<script type="text/ng-template" id="error-messages-students-classNum">
    <span ng-message="required">
        @classNum は必須です。
    </span>
    <span ng-message="min">
        @classNum は 1 以上の整数でなければなりません。
    </span>
</script>

<div ng-init="items=store.students.query(null, $event, this);departments=store.departments.query(null, $event, this);groups=store.groups.query(null, $event, this);">
    <!-- 新規作成ダイアログを表示 -->
    <div class="modal" id="modal-create">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">新規作成</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form name="createForm" ng-model="item" ng-submit="store.students.create(item, $event, this)">
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-form-label col-md-3">@studentId</label>
                            <div class="col-md-4">
                                <input name="studentId" id="modal-create_first" required minlength="9" maxlength="9"
                                       type="text" class="form-control"
                                       ng-model="item.studentId" placeholder="K016C0000" />
                            </div>
                            <div class="col-form-label col-md text-danger">
                                <div ng-messages="createForm.studentId.$error">
                                    <span ng-messages-include="error-messages-students-studentId"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-3">@name</label>
                            <div class="col-md-4">
                                <input name="name" id="" type="text" class="form-control" required
                                       ng-model="item.name" placeholder="情報太郎" />
                            </div>
                            <div class="col-form-label col-md text-danger">
                                <div ng-messages="createForm.name.$error">
                                    <span ng-messages-include="error-messages-students-name"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-3">@email</label>
                            <div class="col-md-4">
                                <input name="email" id="" type="email" class="form-control" required
                                       ng-model="item.email" placeholder="K016C0000@it-neec.jp" />
                            </div>
                            <div class="col-form-label col-md text-danger">
                                <div ng-messages="createForm.email.$error">
                                    <span ng-messages-include="error-messages-students-email"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-3">@departmentId</label>
                            <div class="col-md-4">
                                <select name="departmentId" class="form-control" required
                                        ng-model="item.departmentId"
                                        ng-options="department.id as department.departmentCode + ' ' +department.departmentName for department in departments"></select>
                            </div>
                            <div class="col-form-label col-md text-danger">
                                <div ng-messages="createForm.departmentId.$error">
                                    <span ng-messages-include="error-messages-students-departmentId"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-3">@grade</label>
                            <div class="col-md-4">
                                <input name="grade" id="" type="number" class="form-control" min="1" required
                                       ng-model="item.grade" placeholder="1" />
                            </div>
                            <div class="col-form-label col-md text-danger">
                                <div ng-messages="createForm.grade.$error">
                                    <span ng-messages-include="error-messages-students-grade"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-3">@classNum</label>
                            <div class="col-md-4">
                                <input name="classNum" id="" type="number" class="form-control" min="1" required
                                       ng-model="item.classNum" placeholder="1" />
                            </div>
                            <div class="col-form-label col-md text-danger">
                                <div ng-messages="createForm.classNum.$error">
                                    <span ng-messages-include="error-messages-students-classNum"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <span class="col-form-label col-md text-danger">
                                {{createErrorMessage}}
                            </span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" ng-disabled="createForm.$invalid">
                            追加
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <h2 class="col">
            生徒
        </h2>
        <div class="float-right">
            <div class="form-group">
                <input type="button" class="btn btn-primary"
                       ng-click="store.showCreateModal()"
                       value="新規作成">
            </div>
        </div>
        <form action="api/students" class="float-right">
            <div class="form-group">
                <input type="hidden" name="xlsx" />
                <button type="submit" class="btn btn-default">ダウンロード</button>
            </div>
        </form>
        <div class=""></div>
    </div>

    <div ng-dragover="store.students.dragover($event, $scope)"
         ng-drop="store.students.drop($event, $scope)">
        <div class="edit-header">
            <div class="container">
                <ul class="list-unstyled ul-header">

                    <!-- 検索フォーム -->
                    <li>
                        <form class="form-row search-item" ng-model="parameter"
                              ng-submit="items=store.students.query(parameter, $event, this)">
                            <div class="col-sm-12 row">
                                <div class="form-group col-sm-1">
                                    <div class="">
                                        <input type="submit" class="btn btn-primary" value="検索" />
                                    </div>
                                </div>
                                <div class="col-sm-11 row">
                                    <div class="col-sm-6 row" style="padding-left:0;padding-right:0;">
                                        <div class="form-group col-sm-3">
                                            <div class="">
                                                <input type="text" class="form-control no-border"
                                                       maxlength="9"
                                                       placeholder="@studentId" ng-model="parameter.studentId" />
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-3">
                                            <div class="">
                                                <input type="text" class="form-control no-border"
                                                       placeholder="@name" ng-model="parameter.name" />
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-5">
                                            <div class="">
                                                <input type="text" class="form-control no-border"
                                                       placeholder="@email" ng-model="parameter.email" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <div class="">
                                            <input type="text" class="form-control no-border"
                                                   placeholder="@departmentId" ng-model="parameter.departmentName" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-1">
                                        <div class="">
                                            <input type="text" class="form-control no-border"
                                                   placeholder="@grade" ng-model="parameter.grade" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-1">
                                        <div class="">
                                            <input type="text" class="form-control no-border"
                                                   placeholder="@classNum" ng-model="parameter.classNum" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>
                <hr class="hr-compact" />
            </div>
        </div>
        <div class="container pre-scrollable edit-table">
            <div>
                <!-- データが読み込まれていない場合/0件の場合のメッセージ -->
                <div ng-show="loading">読み込み中…</div>
                <div ng-show="!loading && items.length == 0">データが存在しません</div>
            </div>
            <ul ng-show="items" class="list-unstyled">
                <li ng-repeat="item in items | orderBy: 'studentId'">
                    <!-- 編集フォーム -->
                    <form class="form-row no-border"
                          id="{{'item_' + $index}}"
                          ng-init="item.$$index=$index"
                          ng-submit="store.students.update(item, $event, this)" name="updateForm">
                        <div class="col-sm-12 row edit-item animated"
                             ng-class="{
                                'item-created': item.$$created && updateForm.$pristine,
                                'item-modified': updateForm.$dirty,
                                'item-updated': updateForm.$pristine && item.$$updated,
                            }">
                            <div class="form-group col-sm-1">
                                <span class="form-control-plaintext item_mark">
                                    <span ng-show="item.$$created && updateForm.$pristine">NEW!</span>
                                    <span ng-show="updateForm.$dirty && !item.$$updating">！</span>
                                    <span ng-show="updateForm.$dirty && item.$$updating">…</span>
                                    <span ng-show="updateForm.$pristine && item.$$updated">&#10003;</span>
                                </span>
                            </div>
                            <div class="col-sm-11 row">
                                <div class="col-sm-6 row" style="padding-left:0;padding-right:0;">
                                    <div class="form-group col-sm-3">
                                        <div class="">
                                            <a href="" ng-click="editForm.$$editMode = !editForm.$$editMode"
                                               class="form-control-plaintext" ng-bind="item.studentId"></a>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <div class="">
                                            <input name="name" id="" type="text" class="form-control no-border" required
                                                   ng-model="item.name" placeholder="" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-5">
                                        <div class="">
                                            <input name="email" id="" type="email" class="form-control no-border" required
                                                   ng-model="item.email" placeholder="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-2">
                                    <div class="">
                                        <select name="departmentId" class="form-control no-border" required
                                                ng-model="item.departmentId"
                                                ng-options="department.id as department.departmentCode + ' ' +department.departmentName for department in departments"></select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-1">
                                    <div class="">
                                        <input name="grade" id="" type="number" class="form-control no-border" min="1" required
                                               ng-model="item.grade" placeholder="1" />
                                    </div>
                                </div>
                                <div class="form-group col-sm-1">
                                    <div class="">
                                        <input name="classNum" id="" type="number" class="form-control no-border" min="1" required
                                               ng-model="item.classNum" placeholder="1" />
                                    </div>
                                </div>
                                <div class="form-group col-sm-2 row">
                                    <div class="">
                                        <input type="submit" class="btn btn-primary" value="変更" ng-disabled="updateForm.$invalid || item.$$updating" />
                                        <input type="button" class="btn btn-default" ng-click="store.students.delete(item, $event, this)" value="削除" />
                                    </div>
                                </div>
                                <div class="form-group col-sm-12" ng-show="updateForm.$invalid">
                                    <div class="col-form-label col-md text-danger">
                                        <div ng-messages="updateForm.name.$error">
                                            <span ng-messages-include="error-messages-students-name"></span>
                                        </div>
                                        <div ng-messages="updateForm.email.$error">
                                            <span ng-messages-include="error-messages-students-email"></span>
                                        </div>
                                        <div ng-messages="updateForm.departmentId.$error">
                                            <span ng-messages-include="error-messages-students-departmentId"></span>
                                        </div>
                                        <div ng-messages="updateForm.grade.$error">
                                            <span ng-messages-include="error-messages-students-grade"></span>
                                        </div>
                                        <div ng-messages="updateForm.classNum.$error">
                                            <span ng-messages-include="error-messages-students-classNum"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- メニュー -->
                    <div class="update-menu offset-sm-0 col-sm-12 row menu-animated"
                         ng-init="this.items=store.attendGroups.query({'studentId': item.id}, $event, this)"
                         ng-if="editForm.$$editMode">
                        <div class="col-sm-12">
                            <h3>グループ</h3>
                            <hr class="hr-compact" />
                        </div>
                        <!-- グループに所属する生徒を表示 -->
                        <div class="col-sm-6">
                            <ul ng-show="this.items" class="list-unstyled">
                                <li ng-repeat="sub_item in this.items| orderBy: 'studentIdNumber'" class="animated">
                                    <div ng-form="sub_updateForm" class="form-row" ng-model="sub_item">
                                        <div class="col-sm-12 row edit-item animated">
                                            <div class="form-group col-sm-8">
                                                <span class="form-control-plaintext"
                                                      ng-model="sub_item"
                                                      ng-bind="sub_item.groupCode + ' ' + sub_item.description"></span>
                                            </div>
                                            <div class="form-group col-sm">
                                                <input type="button" class="btn btn-default" ng-click="store.attendGroups.delete(sub_item, $event, this)" value="削除" />
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- 登録 -->
                        <div class="col-sm-6">
                            <div ng-form="sub_createForm" class="form-row" ng-model="sub_item">
                                <div class="col-sm-12 row search-item">
                                    <div class="form-group col-sm-8">
                                        <input type="hidden" name="groupId" ng-model="sub_item.studentId" ng-init="sub_item.studentId = item.id" />
                                        <select name="studentId" class="form-control" required
                                                ng-model="sub_item.groupId"
                                                ng-options="group.id as group.groupCode + ' ' + group.description for group in groups"></select>
                                    </div>
                                    <div class="form-group col-sm">
                                        <button type="button" class="btn btn-primary" ng-disabled="sub_createForm.$invalid"
                                                ng-click="store.attendGroups.create(sub_item, $event, this)">
                                            登録
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="form-group">
                                        <span class="col-form-label col-md text-danger">
                                            {{createErrorMessage}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div style="height:200pt;"></div>
        </div>
    </div>
</div>
