﻿@model IEnumerable<TetsujinTimes.Net.Models.DataModels.Teacher>

@{
    var teacherId = Html.DisplayNameFor(model => model.TeacherId);
    var name = Html.DisplayNameFor(model => model.Name);
    var email = Html.DisplayNameFor(model => model.Email);
}

<!-- エラーメッセージを定義 -->
<script type="text/ng-template" id="error-messages-teachers-teacherId">
    <span ng-message="required">
        @teacherId は必須です。
    </span>
    <span ng-message="min, max">
        @teacherId は 0 以上 10000 未満の整数でなければなりません。
    </span>
</script>
<script type="text/ng-template" id="error-messages-teachers-name">
    <span ng-message="required">
        @name は必須です。
    </span>
</script>
<script type="text/ng-template" id="error-messages-teachers-email">
    <span ng-message="required">
        @email は必須です。
    </span>
    <span ng-message="email">
        @email の形式が不正です。
    </span>
</script>

<!-- 新規作成ダイアログを表示 -->
<div class="modal" id="modal-create">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">新規作成</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="createForm" ng-model="item" ng-submit="store.teachers.create(item, $event, this)">
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-form-label col-md-3">@teacherId</label>
                        <div class="col-md-4">
                            <input name="teacherId" id="modal-create_first" min="0" max="99999"
                                   type="number" class="form-control" required
                                   ng-model="item.teacherId" placeholder="00000" />
                        </div>
                        <div class="col-form-label col-md text-danger">
                            <div ng-messages="createForm.teacherId.$error">
                                <span ng-messages-include="error-messages-teachers-teacherId"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3">@name</label>
                        <div class="col-md-4">
                            <input name="name" id="" type="text" class="form-control" required
                                   ng-model="item.name" placeholder="教師太郎" />
                        </div>
                        <div class="col-form-label col-md text-danger">
                            <div ng-messages="createForm.name.$error">
                                <span ng-messages-include="error-messages-teachers-name"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3">@email</label>
                        <div class="col-md-4">
                            <input name="email" id="" type="email" class="form-control" required
                                   ng-model="item.email" placeholder="TeacherTaro@it-neec.jp" />
                        </div>
                        <div class="col-form-label col-md text-danger">
                            <div ng-messages="createForm.email.$error">
                                <span ng-messages-include="error-messages-teachers-email"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <span class="col-form-label col-md text-danger">
                            {{createErrorMessage}}
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" ng-disabled="createForm.$invalid">
                        追加
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <h2 class="col">
        教師
    </h2>
    <div class="float-right">
        <div class="form-group">
            <input type="button" class="btn btn-primary"
                   ng-click="store.showCreateModal()"
                   value="新規作成">
        </div>
    </div>
    <form action="api/teachers" class="float-right">
        <div class="form-group">
            <input type="hidden" name="xlsx" />
            <button type="submit" class="btn btn-default">ダウンロード</button>
        </div>
    </form>
    <div class=""></div>
</div>

<div ng-init="items=store.teachers.query(null, $event, this)"
     ng-dragover="store.teachers.dragover($event, $scope)"
     ng-drop="store.teachers.drop($event, $scope)">
    <div class="edit-header">
        <div class="container">
            <ul class="list-unstyled ul-header">

                <!-- 検索フォーム -->
                <li class="edit-item">
                    <form class="form-row " ng-model="parameter"
                          ng-submit="items=store.teachers.query(parameter, $event, this)">
                        <div class="form-group col-sm-1">
                            <div class="">
                                <input type="submit" class="btn btn-primary" value="検索" />
                            </div>
                        </div>
                        <div class="form-group col-sm-1">
                            <div class="">
                                <input type="text" class="form-control no-border"
                                       maxlength="5"
                                       placeholder="@teacherId" ng-model="parameter.teacherId" />
                            </div>
                        </div>
                        <div class="form-group col-sm-2">
                            <div class="">
                                <input type="text" class="form-control no-border"
                                       placeholder="@name" ng-model="parameter.name" />
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="">
                                <input type="text" class="form-control no-border"
                                       placeholder="@email" ng-model="parameter.email" />
                            </div>
                        </div>
                        <div class="form-group col-sm">
                            @*<input type="button" class="btn btn-default" value="リセット" />*@
                        </div>
                    </form>
                </li>
            </ul>
            <hr class="hr-compact" />
        </div>
    </div>
    <div class="container pre-scrollable edit-table">
        <div>
            <!-- データが読み込まれていない場合/0件の場合のメッセージ -->
            <div ng-show="loading">読み込み中…</div>
            <div ng-show="!loading && items.length == 0">データが存在しません</div>
        </div>
        <ul ng-show="items" class="list-unstyled">
            <li ng-repeat="item in items | orderBy: 'teacherId'" class="edit-item animated"
                ng-class="{
                    'item-created': item.$$created && updateForm.$pristine,
                    'item-modified': updateForm.$dirty,
                    'item-updated': updateForm.$pristine && item.$$updated,
                }">
                <!-- 編集フォーム -->
                <form class="form-row no-border"
                      id="{{'item_' + $index}}"
                      ng-init="item.$$index=$index"
                      ng-submit="store.teachers.update(item, $event, this)" name="updateForm">
                    <div class="form-group col-sm-1">
                        <span class="form-control-plaintext item_mark">
                            <span ng-show="item.$$created && updateForm.$pristine">NEW!</span>
                            <span ng-show="updateForm.$dirty && !item.$$updating">！</span>
                            <span ng-show="updateForm.$dirty && item.$$updating">…</span>
                            <span ng-show="updateForm.$pristine && item.$$updated">&#10003;</span>
                        </span>
                    </div>
                    <div class="form-group col-sm-1">
                        <div class="">
                            <span class="form-control-plaintext" ng-bind="('00000' + item.teacherId).slice(-5)"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-2">
                        <div class="">
                            <input name="name" id="" type="text" class="form-control no-border" required
                                   ng-model="item.name" placeholder="" />
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <div class="">
                            <input name="email" id="" type="email" class="form-control no-border" required
                                   ng-model="item.email" placeholder="" />
                        </div>
                    </div>
                    <div class="form-group col-sm row">
                        <input type="submit" class="btn btn-primary" value="変更" ng-disabled="updateForm.$invalid || item.$$updating" />
                        <input type="button" class="btn btn-default" ng-click="store.teachers.delete(item, $event, this)" value="削除" />
                        <div class="col-form-label col-md text-danger" ng-show="updateForm.$error">
                            <div ng-messages="updateForm.name.$error">
                                <span ng-messages-include="error-messages-teachers-name"></span>
                            </div>
                            <div ng-messages="updateForm.email.$error">
                                <span ng-messages-include="error-messages-teachers-email"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
        <div style="height:200pt;"></div>
    </div>
</div>
