﻿@model IEnumerable<TetsujinTimes.Net.Models.DataModels.TimeTable>

@{
    var lessonId = Html.DisplayNameFor(model => model.LessonId);
    var departmentId = Html.DisplayNameFor(model => model.DepartmentCode);
    var grade = Html.DisplayNameFor(model => model.Grade);
    var classNum = Html.DisplayNameFor(model => model.ClassNum);
}

<!-- エラーメッセージを定義 -->
<script type="text/ng-template" id="error-messages-timeTables-lessonId">
    <span ng-message="required">
        @lessonId は必須です。
    </span>
</script>
<script type="text/ng-template" id="error-messages-timeTables-departmentId">
    <span ng-message="required">
        @departmentId は必須です。
    </span>
</script>
<script type="text/ng-template" id="error-messages-timeTables-grade">
    <span ng-message="required">
        @grade は必須です。
    </span>
    <span ng-message="min">
        @grade は 1 以上の整数でなければなりません。
    </span>
</script>
<script type="text/ng-template" id="error-messages-timeTables-classNum">
    <span ng-message="required">
        @classNum は必須です。
    </span>
    <span ng-message="min">
        @classNum は 1 以上の整数でなければなりません。
    </span>
</script>

<div ng-init="items=store.timeTables.query();lessons=store.lessons.query();departments=store.departments.query()">
    <!-- 新規作成ダイアログを表示 -->
    <div class="modal" id="modal-create">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">新規作成</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form name="createForm" ng-model="item" ng-submit="store.timeTables.create(item, $event, this)">
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-form-label col-md-3">@lessonId</label>
                            <div class="col-md-4">
                                <select name="lessonId" id="modal-create_first"
                                        class="form-control"
                                        ng-model="item.lessonId"
                                        ng-options="lesson.id as lesson.lessonCode + ' ' + lesson.lessonName for lesson in lessons"></select>
                            </div>
                            <div class="col-form-label col-md text-danger">
                                <div ng-messages="createForm.lessonId.$error">
                                    <span ng-messages-include="error-messages-timeTables-lessonId"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-3">@departmentId</label>
                            <div class="col-md-4">
                                <select name="departmentId" class="form-control" required
                                        ng-model="item.departmentId"
                                        ng-options="department.id as department.departmentCode + ' ' +department.departmentName for department in departments"></select>
                            </div>
                            <div class="col-form-label col-md text-danger">
                                <div ng-messages="createForm.departmentId.$error">
                                    <span ng-messages-include="error-messages-timeTables-departmentId"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-3">@grade</label>
                            <div class="col-md-4">
                                <input name="grade" id="" type="number" class="form-control" min="1" required
                                       ng-model="item.grade" placeholder="1" />
                            </div>
                            <div class="col-form-label col-md text-danger">
                                <div ng-messages="createForm.grade.$error">
                                    <span ng-messages-include="error-messages-timeTables-grade"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-3">@classNum</label>
                            <div class="col-md-4">
                                <input name="classNum" id="" type="number" class="form-control" min="1" required
                                       ng-model="item.classNum" placeholder="1" />
                            </div>
                            <div class="col-form-label col-md text-danger">
                                <div ng-messages="createForm.classNum.$error">
                                    <span ng-messages-include="error-messages-timeTables-classNum"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <span class="col-form-label col-md text-danger">
                                {{createErrorMessage}}
                            </span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" ng-disabled="createForm.$invalid">
                            追加
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <h2 class="col">
            時間割
        </h2>
        <div class="float-right">
            <div class="form-group">
                <input type="button" class="btn btn-primary"
                       ng-click="store.showCreateModal()"
                       value="新規作成">
            </div>
        </div>
        <form action="api/timeTables" class="float-right">
            <div class="form-group">
                <input type="hidden" name="xlsx" />
                <button type="submit" class="btn btn-default">ダウンロード</button>
            </div>
        </form>
        <div class=""></div>
    </div>

    <div ng-dragover="store.timeTables.dragover($event, $scope)"
         ng-drop="store.timeTables.drop($event, $scope)">
        <div class="edit-header">
            <div class="container">
                <ul class="list-unstyled ul-header">

                    <!-- 検索フォーム -->
                    <li class="edit-item">
                        <form class="form-row " ng-model="parameter"
                              ng-submit="store.timeTables.query(parameter)">
                            <div class="form-group col-sm-1">
                                <div class="">
                                    <input type="submit" class="btn btn-primary" value="検索" />
                                </div>
                            </div>
                            <div class="col-sm-11 row">
                                <div class="form-group col-sm-3">
                                    <div class="">
                                        <input type="text" class="form-control no-border"
                                               maxlength="13"
                                               placeholder="@lessonId" ng-model="parameter.lessonId" />
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <div class="">
                                        <input type="text" class="form-control no-border" maxlength="2"
                                               placeholder="@departmentId" ng-model="parameter.departmentId" />
                                    </div>
                                </div>
                                <div class="form-group col-sm-1">
                                    <div class="">
                                        <input type="text" class="form-control no-border"
                                               placeholder="@grade" ng-model="parameter.grade" />
                                    </div>
                                </div>
                                <div class="form-group col-sm-1">
                                    <div class="">
                                        <input type="text" class="form-control no-border"
                                               placeholder="@classNum" ng-model="parameter.classNum" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>
                <hr class="hr-compact" />
            </div>
        </div>
        <div class="container pre-scrollable edit-table">
            <ul ng-show="items" class="list-unstyled">
                <li ng-repeat="item in items | orderBy: 'lessonId'" class="edit-item animated"
                    ng-class="{
                    'item-created': item.$$created && updateForm.$pristine,
                    'item-modified': updateForm.$dirty,
                    'item-updated': updateForm.$pristine && item.$$updated,
                }">
                    <!-- 編集フォーム -->
                    <form class="form-row no-border"
                          id="{{'item_' + $index}}"
                          ng-init="item.$$index=$index"
                          ng-submit="store.timeTables.update(item, $event, this)" name="updateForm">
                        <div class="form-group col-sm-1">
                            <span class="form-control-plaintext item_mark">
                                <span ng-show="item.$$created && updateForm.$pristine">NEW!</span>
                                <span ng-show="updateForm.$dirty && !item.$$updating">！</span>
                                <span ng-show="updateForm.$dirty && item.$$updating">…</span>
                                <span ng-show="updateForm.$pristine && item.$$updated">&#10003;</span>
                            </span>
                        </div>
                        <div class="col-sm-11 row">
                            <div class="form-group col-sm-3">
                                <div class="">
                                    <span class="form-control-plaintext"
                                          ng-repeat="lesson in lessons"
                                          ng-show="lesson.id == item.lessonId"
                                          ng-bind="lesson.lessonCode + ' ' + lesson.lessonName"></span>
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <div class="">
                                    <input type="hidden" />
                                    <span class="form-control-plaintext"
                                          ng-repeat="department in departments"
                                          ng-show="department.id == item.departmentId"
                                          ng-bind="department.departmentCode + ' ' + department.departmentName"></span>
                                </div>
                            </div>
                            <div class="form-group col-sm-1">
                                <div class="">
                                    <span class="form-control-plaintext" ng-bind="item.grade" />
                                </div>
                            </div>
                            <div class="form-group col-sm-1">
                                <div class="">
                                    <span class="form-control-plaintext" ng-bind="item.classNum" />
                                </div>
                            </div>
                            <div class="col-sm row">
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary" value="変更" ng-disabled="updateForm.$invalid || item.$$updating" />
                                    <input type="button" class="btn btn-default" ng-click="store.timeTables.delete(item, $event, this)" value="削除" />
                                </div>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
            <div style="height:200pt;"></div>
        </div>
    </div>
</div>






















@*<h2>時間割</h2>


    <div>
        <form name="uploadForm" ng-submit="store.timeTables.upload(uploadForm)">
            <input type="file" name="file" ng-model="file" />
            <input type="submit" value="送信" />
        </form>
    </div>


    <div>
        <form action="api/timetables">
            <input type="hidden" name="xlsx" />
            <button type="submit">ダウンロード</button>
        </form>
    </div>

    <div ng-init="items=store.timeTables.query();departments=store.departments.query();lessons=store.lessons.query()">
        <table class="table" ng-show="items">
            <tr>
                <th>

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lesson.LessonName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Department.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Grade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClassNum)
                </th>
            </tr>
            <tr ng-model="item">
                <td></td>
                <td>
                    <select class="form-control"
                            ng-model="item.lessonId"
                            ng-options="lesson.id as lesson.lessonName for lesson in lessons"></select>
                </td>
                <td>
                    <select class="form-control"
                            ng-model="item.departmentId"
                            ng-options="department.id as department.departmentName for department in departments"></select>
                </td>
                <td>
                    <form ng-submit="create(item)">
                        <input type="number" class="form-control" ng-model="item.grade" />
                    </form>
                </td>
                <td>
                    <form ng-submit="create(item)">
                        <input type="number" class="form-control" ng-model="item.classNum" />
                    </form>
                </td>
                <td>
                    <input type="button" class="btn btn-default" ng-click="store.timeTables.create(item)" value="追加" />
                </td>
            </tr>
            <tr ng-repeat="item in items">
                <td></td>
                <td>
                    <select class="form-control no-border"
                            ng-model="item.lessonId"
                            ng-options="lesson.id as lesson.lessonName for lesson in lessons"></select>
                </td>
                <td>
                    <select class="form-control no-border"
                            ng-model="item.departmentId"
                            ng-options="department.id as department.departmentName for department in departments"></select>
                </td>
                <td>
                    <form ng-submit="update(item)">
                        <input type="number" class="form-control no-border" ng-model="item.grade" />
                    </form>
                </td>
                <td>
                    <form ng-submit="update(item)">
                        <input type="number" class="form-control no-border" ng-model="item.classNum" />
                    </form>
                </td>
                <td>
                    <input type="button" class="btn btn-default" ng-click="store.timeTables.update(item)" value="変更" />
                    <input type="button" class="btn btn-default" ng-click="store.timeTables.delete(item)" value="削除" />
                </td>
            </tr>
        </table>
    </div>*@
