﻿@model TetsujinTimes.Net.Models.DataModels.Student

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.StudentId)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.StudentId)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Email)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Email)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DepartmentName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DepartmentName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Grade)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Grade)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ClassNum)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ClassNum)
    </dd>
</dl>
