﻿@model TetsujinTimes.Net.Models.DataModels.Student

@{
    ViewBag.Title = "削除";
}

<h2>@Html.Name("削除")</h2>

<h3>@Html.Name("この項目を削除しますか？")</h3>
<div>
    <h4>Student</h4>
    <hr />

    @Html.Partial("_DetailsPartial")

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="削除" class="btn btn-default" /> |
            @Html.ActionLink("一覧に戻る", "Index")
        </div>
    }
</div>
