﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="App">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>TetsujinTimes.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/app")
    <base href="/" />
</head>
<body ng-controller="RootController">

    <!-- 通知ダイアログを表示 -->
    <div class="modal" id="modal-notification" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">通知：{{notificationTitle}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-info">
                    <p>{{notificationMessage}}</p>
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                    <button type="button" id="modal-notification_fast" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- エラーダイアログを表示 -->
    <div class="modal" id="modal-error" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">エラー：{{errorTitle}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-danger">
                    <p>{{errorMessage}}</p>
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                    <button type="button" id="modal-error_fast" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <header class="navbar navbar-expand-lg fixed-top main-header" ng-if="store.user">
        <a ng-href="/" class="navbar-brand">
            <img src="~/images/tticon_net.svg" width="48" alt="TetsujinTimes.NET" />
            TetsujinTimes.NET
        </a>
        <button type="button" class="navbar-toggler"
                data-toggle="collapse"
                data-target="#Navbar"
                aria-controls="Navbar"
                aria-expanded="false"
                aria-label="メニュー">
            MENU
        </button>
        <div class="navbar-collapse collapse" id="Navbar">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item" ng-class="{active:location.path()=='/Classrooms'}">
                    <a class="nav-link" ng-href="/Classrooms">教室</a>
                </li>
                <li class="nav-item" ng-class="{active:location.path()=='/Periods'}">
                    <a class="nav-link" ng-href="/Periods">時限</a>
                </li>
                <li class="nav-item" ng-class="{active:location.path()=='/Departments'}">
                    <a class="nav-link" ng-href="/Departments">学科</a>
                </li>
                <li class="nav-item" ng-class="{active:location.path()=='/Teachers'}">
                    <a class="nav-link" ng-href="/Teachers">教師</a>
                </li>
                <li class="nav-item" ng-class="{active:location.path()=='/Students'}">
                    <a class="nav-link" ng-href="/Students">生徒</a>
                </li>
                <li class="nav-item" ng-class="{active:location.path()=='/Groups'}">
                    <a class="nav-link" ng-href="/Groups">グループ</a>
                </li>
                <li class="nav-item" ng-class="{active:location.path()=='/Lessons'}">
                    <a class="nav-link" ng-href="/Lessons">授業</a>
                </li>
                <li class="nav-item" ng-class="{active:location.path()=='/Memos'}">
                    <a class="nav-link" ng-href="/Memos">メモ</a>
                </li>
                <li class="nav-item" ng-class="{active:location.path()=='/Notifications'}">
                    <a class="nav-link" ng-href="/Notifications">通知</a>
                </li>
                @*<li class="nav-item" ng-class="{active:location.path()=='/TimeTables'}">
                        <a class="nav-link" ng-href="/TimeTables">時間割</a>
                    </li>*@
                @*<li class="nav-item" ng-class="{active:location.path()=='/AttendLessons'}">
                        <a class="nav-link" ng-href="/AttendLessons">履修</a>
                    </li>*@
                @*<li class="nav-item" ng-class="{active:page=='LessonDetails'}">
                        <a class="nav-link" ng-href="/LessonDetails">授業詳細</a>
                    </li>
                    <li class="nav-item" ng-class="{active:page=='Attendances'}">
                        <a class="nav-link" ng-href="/Attendances">出席</a>
                    </li>*@
            </ul>
            <span style="width:100px;"></span>
            <a href="" ng-click="logout()" class="btn btn-outline-light">
                ログアウト
            </a>
        </div>
    </header>

    <div class="container body-content">
        <!-- インジケーターを表示 -->
        <div class="indicator">
            <div class="indicator-content">
                <h5 class="indicator-title">タイトル</h5>
            </div>
            <div class="indicator-backdrop">

            </div>
        </div>
        @*ここにルーティングされたビューを表示*@
        <div ng-view class="view page-animated h-100">読み込んでいます。</div>
    </div>


    <footer class="main-footer fixed-bottom row" ng-if="store.user">
        <div class="col-sm-4 align-middle">ようこそ {{store.user.name}} さん！</div>
        <div class="offset-sm-4 col-sm text-right"><small>&copy; @DateTime.Now.Year - チームTetsujin</small></div>
    </footer>
</body>
</html>
