﻿@model TetsujinTimes.Net.Models.DataModels.Teacher

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Email)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Email)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.TeacherId)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.TeacherId)
    </dd>

</dl>
