﻿@model TetsujinTimes.Net.Models.DataModels.Attendance

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Attendance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AttendLesson.StudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttendLesson.StudentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LessonDetail.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LessonDetail.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttendanceTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttendanceTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attended)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attended)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WasLate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WasLate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeftEarly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeftEarly)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
