﻿@model IEnumerable<TetsujinTimes.Net.Models.DataModels.Attendance>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LessonDetail.Lesson.LessonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttendLesson.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttendanceTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attended)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WasLate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeftEarly)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LessonDetail.Lesson.LessonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttendLesson.StudentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttendanceTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Attended)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WasLate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeftEarly)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
